<div class="row">
    <div class="modal fade bs-example-modal-sm" id="modalCalculationAoi" tabindex="-1" role="dialog" aria-labelledby="modalCheckDeleteItems">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Make a calculation for the loaded shepfile?</h4>
                </div>
                <div class="modal-footer border-top-0">
                    <div class="col-sm-6 div-cancel">
                        <button type="button" class="btn btn-success cancel-but btn-block" data-dismiss="modal">No</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary del-but btn-block" name="calculation_button" onclick="showWaitingCalculation()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
