{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <title>Greetings</title>
    
    
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">

    <!-- Bootstrap theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
          crossorigin="anonymous">

    <!-- Formstone Select -->
    <!-- <link rel="stylesheet" href="{% static 'css/jquery.fs.selecter.css' %}"> -->
    <!--<link rel="stylesheet" href="{% static 'css/dropdown.css' %}">-->
    
    <!-- Slider -->
    {# <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css" rel="stylesheet">#}

    <!-- Font Awesomee -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- custom styles -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />

    {% block extra_css %}{% endblock extra_css %}
</head>

<body onload='initMap()'>
    <!-- Start Container -->
    <div class="container-fluid">
        <!-- Start Body -->
        {% if user.is_authenticated %}
            <div class="row main">
                <div class="col-md-12 center">
                    <!-- Start Top Menu -->
                    <div class="row">
                        <div class="col-md-12 center">
                            <nav class="navbar navbar-static-top main-menu navbar-main-menu">
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <a class="dropbtn brand-logo navbar-brand" href="{% url 'index' %}">GSi</a>
                                    <!-- End Brand and toggle get grouped for better mobile display -->

                                    <div class="collapse navbar-collapse">
                                        <!-- <div class="dropdown-search">
                                            <input type="text" class="search-form no-yelow-autofill" id="username"
                                                   value="" name="username" placeholder="type here for search..." oninput="" onkeyup="" />
                                        </div> -->

                                        <div class="dropdown user-profile" id="dropUser">
                                            <button class="dropbtn-user dropdown-toggle" id="titleUser" onclick="showSubMenuUser()">
                                                <img src="{% static 'img/anonim.png' %}" class="img-circle circle">
                                                {{ request.user }}
                                                <i class="fa fa-caret-right icon-visible-user"></i>
                                                <i class="fa fa-caret-down icon-visible-user" style="display: none"></i>
                                            </button>
                                            <div class="dropdown-content-user dropdown-user left li-menu" id="dropdownUser">
                                                <a href="{% url 'index' %}" >
                                                    <img class="right-indent-10" src="{% static 'img/profile-18.png' %}">
                                                    Profile
                                                </a>
                                                <a href="{% url 'index' %}">
                                                    <img class="right-indent-10" src="{% static 'img/settings.png' %}">
                                                    Settings
                                                </a>
                                                <a href="{% url 'auth_logout' %}">
                                                    <img class="right-indent-10" src="{% static 'img/logout.png' %}">
                                                    Log Out
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <!-- End Top Menu -->

                    <div class="row">
                        <!-- Start Main Menu Left Sidebar -->
                        {% if user.is_superuser and url_name != 'customer_section' %}
                            <div class="col-md-3 li-menu dropdown-left-0 left" id="dropdownMenu">
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="{% if url_name == 'home' %}active-main-menu{% else %}li-menu{% endif %}">
                                        <a href="{% url 'index' %}">
                                            <img class="right-indent-10" src="{% static 'img/overview.png' %}">
                                            OVERVIEW
                                        </a>
                                    </li>
                                    <li class="{% if url_name == 'run_setup' %}active-main-menu{% else %}li-menu{% endif %}">
                                        <a href="{% url 'run_setup' %}">
                                            <img class="right-indent-10" src="{% static 'img/setup_new_run.png' %}">
                                            SETUP NEW RUN
                                        </a>
                                    </li>
                                    <li class="{% if url_name == 'submit_run' %}active-main-menu{% else %}li-menu{% endif %}">
                                        <a href="{% url 'submit_run' %}">
                                            <img class="right-indent-10" src="{% static 'img/submit_a_run.png' %}">
                                            SUBMIT A RUN
                                        </a>
                                    </li>
                                    <li class="{% if active_url == 'run_progress' %}active-main-menu{% else %}li-menu{% endif %}">
                                        <a href="{% url 'run_progress' %}">
                                            <img class="right-indent-10" src="{% static 'img/view_run_progress.png' %}">
                                            VIEW RUN PROGRESS
                                        </a>
                                    </li>

                                    <!-- sub setup static data menu -->
                                    <div id="sweeties" class="{% if but_name == 'static_data' %}sub-menu-visible{% else %}sub-menu-no-visible{% endif %}">
                                        <button class="title {% if but_name == 'static_data' %}active-static-data{% endif %}" id="title">
                                            <img class="right-indent-10" src="{% static 'img/setup_static_data.png' %}">
                                            SETUP STATIC DATA
                                            <i id="icon_static" class="fa {% if but_name == 'static_data' %}fa-chevron-down{% else %}fa-chevron-right{% endif %} icon-visible"></i>
                                            <!--<i class="fa fa-chevron-right icon-visible"></i>-->
                                            <!--<i class="fa fa-chevron-down icon-visible" style="display: none"></i>-->
                                        </button>
                                        <div id="subMenu">
                                            <ul>
                                                <li class="li-sub-menu {% if url_name == 'home_variable' %}active-main-menu{% else %}li-menu{% endif %}">
                                                    <a href="{% url 'home_variable_setup' %}">Home Variables Setup</a>
                                                </li>
                                                <li class="li-sub-menu {% if url_name == 'environment_groups' %}active-main-menu{% else %}li-menu{% endif %}">
                                                    <a href="{% url 'environment_groups' %}">Environment Groups</a>
                                                </li>
                                                <li class="li-sub-menu {% if url_name == 'areas' %}active-main-menu{% else %}li-menu{% endif %}">
                                                    <a href="{% url 'areas' %}">Areas</a>
                                                </li>
                                                <li class="li-sub-menu {% if url_name == 'years_group' %}active-main-menu{% else %}li-menu{% endif %}">
                                                    <a href="{% url 'years_group' %}">Year Groups</a>
                                                </li>
                                                <li class="li-sub-menu {% if url_name == 'tiles' %}active-main-menu{% else %}li-menu{% endif %}">
                                                    <a href="{% url 'tiles' %}">Tiles</a>
                                                </li>
                                                <li class="li-sub-menu {% if url_name == 'years' %}active-main-menu{% else %}li-menu{% endif %}">
                                                    <a href="{% url 'years' %}">Years</a>
                                                </li>
                                                <li class="li-sub-menu {% if url_name == 'resolution' %}active-main-menu{% else %}li-menu{% endif %}">
                                                    <a href="{% url 'resolution' %}">Resolution</a>
                                                </li>
                                                <li class="li-sub-menu {% if url_name == 'satellite' %}active-main-menu{% else %}li-menu{% endif %}">
                                                    <a href="{% url 'satellite' %}">Satellites</a>
                                                </li>
                                                <li class="li-sub-menu {% if url_name == 'input_data_dir_list' %}active-main-menu{% else %}li-menu{% endif %}">
                                                    <a href="{% url 'input_data_dir_list' %}">Input Data Directory</a>
                                                </li>
                                                <li class="li-sub-menu {% if url_name == 'cards_list' %}active-main-menu{% else %}li-menu{% endif %}">
                                                    <a href="{% url 'cards_list' %}">Cards</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end sub setup static data menu -->

                                    <!-- DataSets menu -->
                                    <!-- <li class="{% if url_name == 'upload_file' %}active-main-menu{% else %}li-menu{% endif %}">
                                        <a href="{% url 'upload_file' %}" id="upload_file">
                                            <img class="right-indent-10" src="{% static 'img/upload.png' %}">
                                            UPLOAD TEST DATA
                                        </a>
                                    </li> -->
                                    <!-- end DataSets menu -->

                                    <!-- sub setup static data menu -->
                                    <div id="sweeties2" class="{% if but_name == 'info_panel' %}sub-menu-visible{% else %}sub-menu-no-visible{% endif %}">
                                        <button class="title {% if but_name == 'info_panel' %}active-static-data{% endif %}" id="title2">
                                            <img class="right-indent-10" src="{% static 'img/setup_static_data.png' %}">
                                            INFO PANEL MAPPING
                                            <i id="icon_static2" class="fa {% if but_name == 'info_panel' %}fa-chevron-down{% else %}fa-chevron-right{% endif %} icon-visible"></i>
                                            <!--<i class="fa fa-chevron-right icon-visible"></i>-->
                                            <!--<i class="fa fa-chevron-down icon-visible" style="display: none"></i>-->
                                        </button>
                                        <div id="subMenu">
                                            <ul>
                                                <li class="li-sub-menu {% if url_name == 'upload_file' %}active-main-menu{% else %}li-menu{% endif %}">
                                                    <a href="{% url 'upload_file' %}">Upload Test Data</a>
                                                </li>
                                                <li class="li-sub-menu {% if url_name == 'data_sets' %}active-main-menu{% else %}li-menu{% endif %}">
                                                    <a href="{% url 'data_sets' %}">DataSet Definition</a>
                                                </li>
                                                <li class="li-sub-menu {% if url_name == 'customer_access' %}active-main-menu{% else %}li-menu{% endif %}">
                                                    <a href="{% url 'customer_access' %}">Customer Access</a>
                                                </li>
                                                <li class="li-sub-menu {% if url_name == 'shelf_data' %}active-main-menu{% else %}li-menu{% endif %}">
                                                    <a href="{% url 'shelf_data' %}">Shelf Data</a>
                                                </li>
                                                <li class="li-sub-menu {% if url_name == 'categorys' %}active-main-menu{% else %}li-menu{% endif %}">
                                                    <a href="{% url 'categorys' %}">Categorys for the Shelf Data</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end sub setup static data menu -->

                                    <!-- Customer Section Menu-->
                                    <li class="{% if url_name == 'customer_section' %}active-main-menu{% else %}li-menu{% endif %}">
                                        <a href="{% url 'customer_section' %}">
                                            <img class="right-indent-10" src="{% static 'img/customer_section.png' %}">
                                            CUSTOMER SECTION
                                        </a>
                                    </li>

                                    <li class="li-menu">
                                        <a href="http://gsi.readthedocs.io/en/latest/" target="_blank">
                                            <img class="right-indent-10" src="{% static 'img/wiki-18.png' %}">
                                            WIKI
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <!-- Start Status Messages -->
                            <div class="col-md-9">
                                {% include '_base_message.html' %}
                            </div>
                            <!-- End Status Messages -->

                            <!-- Start Content -->
                            <div class="col-md-9" id="content-column">
                                <!-- Title -->
                                <h2>{% block title %}{% endblock title %}</h2>
                                <!-- End Title -->
                                {% block content %}{% endblock content %}
                            </div>
                            <!-- End Content -->

                            <!-- Left Sidebar for the Customer Section -->
                        {% elif url_name == 'customer_section' %}
                            <form class="form-modal" id="customer_section_left" action="{% url 'customer_section' %}" method="get" enctype="multipart/form-data" role="form" class="form-horizontal">
                                {% csrf_token %}

                                <div class="col-md-2 li-menu dropdown-left-0 left" id="dropdownMenu">
                                    <label class="control-label margin-top-25">Datasets:</label>
                                    <select class="form-control margin-top-15" name="select" id="mydataset" onchange="showDataSets({{ data_set_id }})">
                                        {% for ds in data_sets %}
                                            <option id="{{ ds.id }}" name="{{ ds }}" value="{{ ds.id }}" {% if data_set_id == ds.id %}selected="selected"{% endif %}>{{ ds }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                            <!-- END Left Sidebar for the Customer Section -->

                            <!-- Start Status Messages -->
                            <div class="col-md-8">
                                {% include '_base_message.html' %}
                            </div>
                            <!-- End Status Messages -->

                            <!-- Start Content -->
                            <div class="col-md-8" id="content-column">
                                <!-- Title -->
                                <h2>{% block title_customer %}{% endblock title_customer %}</h2>
                                <!-- End Title -->
                                {% block content_customer %}{% endblock content_customer %}
                            </div>
                            <!-- End Content -->


                            <!-- Right Sidebar for the Customer Section -->
                            {% if data_sets %}
                                <form class="form-modal" id="customer_section_right" action="{% url 'customer_section' %}" method="post" enctype="multipart/form-data" role="form" class="form-horizontal">
                                    {% csrf_token %}

                                    <div class="col-md-2 li-menu dropdown-left-0 left" id="dropdownMenu">
                                        <label class="control-label margin-top-25">Info Panel:</label>
                                        {# <h4 class="margin-top-40 background-fill-grey"><b>Info Panel</b></h4>#}
                                        <select class="form-control margin-top-10" name="root_filenames[]" multiple size="8">
                                            {% for dl in dirs_list%}
                                                <option value="{{ dl.id }}" {% if dl.attribute_name in dirs_infopanel %}selected="selected"{% endif %}>{{ dl.attribute_name }}</option>
                                            {% endfor %}
                                        </select>

                                        {% if dirs_list %}
                                            <label class="control-label margin-top-25">Statistics:</label>
                                            <select class="form-control margin-top-10 disable" name="statistics[]" multiple size="6">
                                                <option value="mean_ConditionalMax" {% if 'mean_ConditionalMax' in statisctics_infopanel %}selected="selected"{% endif %}>mean_ConditionalMax</option>
                                                <option value="mean_ConditionalMean" {% if 'mean_ConditionalMean' in statisctics_infopanel %}selected="selected"{% endif %}>mean_ConditionalMean</option>
                                                <option value="mean_ConditionalMedian" {% if 'mean_ConditionalMedian' in statisctics_infopanel %}selected="selected"{% endif %}>mean_ConditionalMedian</option>
                                                <option value="mean_ConditionalMin" {% if 'mean_ConditionalMin' in statisctics_infopanel %}selected="selected"{% endif %}>mean_ConditionalMin</option>
                                                <option value="mean_LowerQuartile" {% if 'mean_LowerQuartile' in statisctics_infopanel %}selected="selected"{% endif %}>mean_LowerQuartile</option>
                                                <option value="mean_Quantile" {% if 'mean_Quantile' in statisctics_infopanel %}selected="selected"{% endif %}>mean_Quantile</option>
                                            </select>
                                        {% endif %}
                                        
                                        {% if polygons_list %}
                                            <label class="control-label margin-top-25">Polygons:</label>
                                            <select class="form-control margin-top-10" name="polygons[]" multiple size="8">
                                                {% for polygon in polygons_list%}
                                                    <option value="{{ polygon }}">{{ polygon }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                        
                                        <div class="margin-top-20 button-link">
                                            <a name="remove-selected-items" onclick="removeSelectedItems()" href="">
                                                Remove the all selected items
                                            </a>
                                        </div>
                                        
                                        <div class="margin-top-15">
                                            <button type="submit" name="add-list-view" class="btn btn-success btn-block">
                                                Add to list view
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>

                    <!-- Start Contact Form -->
                    <!--<div class="container">-->
                        <!--<div class="row" id="header">-->
                            <!--<div class="col-xs-12">-->
                                <!--<h2>{% block title-form %}{% endblock title-form %}</h2>-->
                                <!--{% block contact_form %}{% endblock contact_form %}-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!-- End Contact Form -->
                </div>
                
                <!-- Start Bufer -->
                <div class="footer-push"></div>
                <!-- End Bufer -->
            </div>
            
            <!-- Start Footer -->
            <div class="row footer">
                <footer class="col-md-12 center margin-top-50 margin-bottom-50 font-11">
                    &copy; {{ CURRENT_YEAR }} GSi Web Site
                </footer>
            </div>
            <!-- End Footer -->
        {% endif %}
        <!-- End Body -->
    </div>
    <!-- End Container -->

    <!-- Modal Upload Test Data -->
    <div class="modal fade" id="modalUpload" tabindex="-1" role="dialog" aria-labelledby="modalUploadLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="form-group {% if form.test_data.errors %}has-error{% endif %}">
                        <h4 class="modal-title" id="modalUploadLabel"><!-- --></h4>
                    </div>
                </div>
                <div class="modal-body"><!-- --></div>
                <div class="modal-footer"><!-- --></div>
            </div>
        </div>
    </div>
    <!-- End Modal Upload Test Data -->

    <!-- Modal of Wiki -->
    <div class="modal fade bs-example-modal-lg" id="modalWiki" tabindex="-1" role="dialog" aria-labelledby="modalWikiLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h2 class="modal-title" id="modalWikiLabel">Editing the article</h2>
                </div>
                <div class="modal-body"><iframe ckass="iframe-modal" src="" style="zoom:0.60" width="99.6%" height="250" frameborder="0"><!-- --></iframe></div>
                <div class="modal-footer"><!-- --></div>
            </div>
        </div>
    </div>
    <!-- End Modal of Wiki -->

    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

    <!-- Formstone Select JavaScript -->
    <!-- <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/jquery.fs.selecter.min.js' %}"></script> -->

    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous">
    </script>

    <!-- CKEditor JavaScript -->
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    
    <!-- Checkboxes -->
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <!-- custom scripts -->
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts_ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script_selectors.js' %}"></script>
    
    <!-- Slider scripts -->
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"></script>#}
    

    <!--
    <script type="text/javascript" src="{% static 'js/scripts_google_maps.js' %}"></script>
    -->

    <!-- Myscripts -->
    {% block extra_js %}{% endblock extra_js %}
    <!-- End Myscripts -->
</body>
</html>
