{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <title>Greetings</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">

    <!-- Bootstrap theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
          crossorigin="anonymous">

    <!-- JQUERY UI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Formstone Select -->
    <!-- <link rel="stylesheet" href="{% static 'css/jquery.fs.selecter.css' %}"> -->
    <!--<link rel="stylesheet" href="{% static 'css/dropdown.css' %}">-->

    <!-- Slider -->
    {# <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css" rel="stylesheet">#}

    <!-- Font Awesomee -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- custom styles -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />

    {% block extra_css %}{% endblock extra_css %}
</head>

<body onload='initMap()'>
    <!-- Start Container -->
    <div class="container-fluid">
        <!-- Start Body -->
        {% if user.is_authenticated %}
            <div class="row main">
                <div class="col-md-12 center">
                    <!-- Start Top Menu 1 -->
                    <div class="row top-menu">
                        <!-- Show DataSets in the InfoPanel -->
                        <div class="col-md-2 left">
                            {% if show_dataset_cip %}
                                <div class="navbar-brand white margin-left-20" id="ds_show"><b class="purple">Dataset: </b><span>{{ show_dataset_cip }}</span></div>
                            {% else %}
                                <div class="navbar-brand white margin-left-20"><b class="purple">Dataset: </b>None</div>
                            {% endif %}
                        </div>
                        <!-- End Show DataSets in the InfoPanel -->

                        <!-- Show Attribute in the InfoPanel -->
                        <div class="col-md-4 left">
                            {% if show_image_cip %}
                                <div class="navbar-brand white"><b class="purple left-30">Image: </b><span id="img_show">{{ show_image_cip }}</span></div>
                            {% else %}
                                <div class="navbar-brand white"><b class="purple left-30">Image: </b>None</div>
                            {% endif %}
                        </div>
                        <!-- End Show Attribute in the InfoPanel -->

                        <!-- Show Statistic in the InfoPanel -->
                        <div class="col-md-4 left">
                            {% if show_statistic_cip %}
                                <div class="navbar-brand white"><b class="purple left-30">Values: </b><span id="stat_show">{{ show_statistic_cip }}</span></div>
                            {% else %}
                                <div class="navbar-brand white"><b class="purple left-30">Values: </b>None</div>
                            {% endif %}
                        </div>
                        <!-- End Show Statistic in the InfoPanel -->

                        <!-- Show User DropDown Menu in the InfoPanel -->
                        <div class="col-md-1 left">
                            <div class="dropdown user-profile" id="dropUser">
                                <button class="dropbtn-user dropdown-toggle white" id="titleUser" onclick="showSubMenuUser()">
                                    <b class="purple">User:</b> {{ request.user }}
                                    <i class="fa fa-caret-right icon-visible-user"></i>
                                    <i class="fa fa-caret-down icon-visible-user" style="display: none"></i>
                                </button>
                                <div class="dropdown-content-user dropdown-user left li-menu" id="dropdownUser">
                                    <a href="{% url 'index' %}" >
                                        <img class="right-indent-10" src="{% static 'img/profile-18.png' %}">
                                        Profile
                                    </a>
                                    <a href="{% url 'index' %}">
                                        <img class="right-indent-10" src="{% static 'img/settings.png' %}">
                                        Settings
                                    </a>
                                    <a href="{% url 'auth_logout' %}">
                                        <img class="right-indent-10" src="{% static 'img/logout.png' %}">
                                        Log Out
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Show User DropDown Menu in the InfoPanel -->
                    </div>
                    <!-- End Top Menu 1 -->

                    <div class="row">
                        {% if error_message %}
                    		<h3>{{ error_message }}</a></h3>
                    	{% else %}
                            <!-- Left Sidebar -->
                            <form class="form-modal" id="customer_section_left" action="{% url 'customer_section' %}" method="post" enctype="multipart/form-data" role="form" class="form-horizontal">
                                {% csrf_token %}

                                <div class="col-md-2 li-menu dropdown-left-0 left" id="col1">
                                    <!-- DataSets Menu -->
                                    <label class="control-label margin-top-25">Datasets:</label>
                                    <select class="form-control" name="select" id="mydataset" onchange="showDataSets({{ data_set_id }})">
                                        {% for ds in data_sets %}
                                            <option id="{{ ds.id }}" name="{{ ds }}" value="{{ ds.id }}" {% if data_set_id == ds.id %}selected="selected"{% endif %}>{{ ds }}</option>
                                        {% endfor %}
                                    </select>
                                    <!-- END DataSets Menu -->

                                    <!-- TABS menu -->
                                    <div role="tabpanel" class="margin-top-25">
                                        <!-- Navigational tabs -->
                                        <ul class="nav nav-tabs margin-left-6" role="tablist">
                                            <li role="presentation" {% if tab_active == 'view' %}class="active"{% endif %}><a href="#view" class="a-tab" aria-controls="view" role="tab" data-toggle="tab" value="view" onclick="selectTab(this)">View</a></li>
                                            <li role="presentation" {% if tab_active == 'report' %}class="active"{% endif %}><a href="#report" class="a-tab" aria-controls="report" role="tab" data-toggle="tab" value="report" onclick="selectTab(this)">Report</a></li>
                                            <li role="presentation" {% if tab_active == 'aoi' %}class="active"{% endif %}><a href="#aoi" class="a-tab" aria-controls="aoi" role="tab" data-toggle="tab" value="aoi" onclick="selectTab(this)">AOI</a></li>

                                            {% if is_ts %}
                                                <li role="presentation" {% if tab_active == 'ts' %}class="active"{% endif %}><a href="#ts" class="a-tab" aria-controls="ts" role="tab" data-toggle="tab" value="ts" onclick="selectTab(this)">Time Series</a></li>
                                            {% endif %}
                                        </ul>
                                        <!-- END Navigational tabs -->

                                        <!-- Tabs Content -->
                                        <div class="tab-content tab-resize snap-parent">
                                            <form name="select_all_none" method="post">
                                                <!-- VIEW -->
                                                <div role="tabpanel" {% if tab_active == 'view' %}class="tab-pane fade in active"{% else %}class="tab-pane fade"{% endif %} id="view">
                                                    <div class="col-md-5 left">
                                                        <div class="snap-top-child-left">
                                                            <button type="button" class="btn btn-link" name="select-all-view" onclick="selectAllCheck(this.form.attribute_viewlist, 1);">
                                                                Select All
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-5 right">
                                                        <div class="snap-top-child-right">
                                                            <button type="button" class="btn btn-link" name="select-none-view" onclick="selectAllCheck(this.form.attribute_viewlist, 0);">
                                                                Select None
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12 left margin-top-15 view-list" id="view_attribute">
                                                        {% for dl in dirs_list %}
                                                            <label class="normal"><input class="margin-bottom-6" name="attribute_viewlist" type="checkbox" value="view_{{ dl.id }}" {% if dl.attribute_name in attribute_list_infopanel %}checked="checked"{% endif %}> {{ dl.attribute_name }}</label><br>
                                                        {% endfor %}
                                                    </div>

                                                    <div class="col-md-6 left margin-top-15 snap-bottom-left">
                                                        <button type="button" name="next-view" id="next" class="btn btn-success btn-block" value="next" onclick="sendDataAttrStatToServer(this);">
                                                            Next
                                                        </button>
                                                    </div>

                                                    <div class="col-md-6 left margin-top-15 snap-bottom-right">
                                                        <button type="button" name="previous-view" id="previous" class="btn btn-success btn-block margin-right-10" value="previous"  onclick="sendDataAttrStatToServer(this);">
                                                            Previous
                                                        </button>
                                                    </div>
                                                </div>

                                                <!-- REPORT -->
                                                <div role="tabpanel" {% if tab_active == 'report' %}class="tab-pane fade in active"{% else %}class="tab-pane fade"{% endif %} id="report">
                                                    <div class="col-md-5 left snap-top-child-left">
                                                        <button type="button" class="btn btn-link" name="select-all-report" onclick="selectAllCheck(this.form.viewreport, 1)">
                                                            Select All
                                                        </button>
                                                    </div>

                                                    <div class="col-md-5 snap-top-child-right">
                                                        <button type="button" class="btn btn-link" name="select-none-report" onclick="selectAllCheck(this.form.viewreport, 0)">
                                                            Select None
                                                        </button>
                                                    </div>

                                                    <div class="col-md-12 left margin-top-15 report-list" id="report_attribute">
                                                        {% for dl in dirs_list%}
                                                            <label class="normal"><input class="margin-bottom-6" name="viewreport" type="checkbox" value="report_{{ dl.id }}" {% if dl.attribute_name in show_report_ap %}checked="checked"{% endif %}> {{ dl.attribute_name }}</label><br>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <!-- END REPORT -->

                                                <!-- AOI -->
                                                <div role="tabpanel" {% if tab_active == 'aoi' %}class="tab-pane fade margin-bottom-6 in active aoi-list"{% else %}class="tab-pane fade margin-bottom-6 aoi-list"{% endif %} id="aoi">
                                                    {% for polygon in polygons%}
                                                        <div class="col-md-8 margin-top-8 margin-bottom-4 margin-left-4">
                                                            <input type="radio" name="polygon" value="{{ polygon.id }}" onchange="setPolygon(this);"><a href="{{ absolute_kml_url }}/{{ polygon.kml_name }}"> {{ polygon.name }}</a>
                                                        </div>

                                                        <div class="col-md-1 margin-bottom-4">
                                                            <button class="btn del-btn edit-area margin-top-07 left" type="button" name="save_area" value="{{ polygon.id }}" data-toggle="tooltip" data-placement="top" title="Edit">
                                                                <img src="{% static 'img/edit-18.png' %}" class="margin-left-010"/>
                                                            </button>
                                                        </div>

                                                        <div class="col-md-1 margin-bottom-4">
                                                            <button class="btn del-btn check-cur-delete margin-top-07 right" type="button" name="del_current_btn" value="{{ polygon.kml_name }}" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                <img src="{% static 'img/delete-18.png' %}" class="margin-left-010"/>
                                                            </button>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <!-- END AOI -->

                                                <!-- TIME SERIES -->
                                                <div role="tabpanel" {% if tab_active == 'ts' %}class="tab-pane fade margin-bottom-6 in active ts-list"{% else %}class="tab-pane fade margin-bottom-6 ts-list"{% endif %} id="ts">
                                                    {% for ts in time_series_show %}
                                                        <div class="col-md-8 margin-top-8 margin-bottom-4 margin-left-4">
                                                            <input type="checkbox" name="time_series" value="{{ ts.id }}" onclick="toogleVisibleDrawPlot(this);"> {{ ts.customer_polygons }}_{{ ts.result_year }}_{{ ts.stat_code }}
                                                        </div>
                                                    {% endfor %}
                                                </div>

                                                <div class="col-md-6 left margin-top-15 snap-bottom-left">
                                                    <button type="button" name="draw-plot" id="draw_plot" class="btn btn-success btn-block" value="draw_plot" onclick="sendDataTsToServer(this);" disabled="disabled">
                                                        Draw Plot
                                                    </button>
                                                </div>
                                                <!-- END TIME SERIES -->
                                            </div>
                                            <!-- END Tabs content -->

                                            <!-- Statistics Menu -->
                                            <label class="control-label margin-top-25">Statistics:</label>

                                            <div class="row">
                                                <div class="col-md-12 left" id="statictics_list">
                                                    <label class="normal"><input class="margin-top-10" name="statistics_viewlist" type="radio" value="mean_ConditionalMax"  {% if 'mean_ConditionalMax' in statistics_infopanel %}checked="checked"{% endif %}> mean_ConditionalMax</label><br>

                                                    <label class="normal"><input class="margin-top-10" name="statistics_viewlist" type="radio" value="mean_ConditionalMean" {% if 'mean_ConditionalMean' in statistics_infopanel %}checked="checked"{% endif %}> mean_ConditionalMean</label><br>

                                                    <label class="normal"><input class="margin-top-10" name="statistics_viewlist" type="radio" value="mean_ConditionalMedian" {% if 'mean_ConditionalMedian' in statistics_infopanel %}checked="checked"{% endif %}> mean_ConditionalMedian</label><br>

                                                    <label class="normal"><input class="margin-top-10" name="statistics_viewlist" type="radio" value="mean_ConditionalMin" {% if 'mean_ConditionalMin' in statistics_infopanel %}checked="checked"{% endif %}> mean_ConditionalMin</label><br>

                                                    <label class="normal"><input class="margin-top-10" name="statistics_viewlist" type="radio" value="mean_LowerQuartile" {% if 'mean_LowerQuartile' in statistics_infopanel %}checked="checked"{% endif %}> mean_LowerQuartile</label><br>

                                                    <label class="normal"><input class="margin-top-10" name="statistics_viewlist" type="radio" value="mean_Quantile" {% if 'mean_Quantile' in statistics_infopanel %}checked="checked"{% endif %}> mean_Quantile</label><br>
                                                </div>
                                            </div>
                                            <!-- END Statistics Menu -->
                                        </form>
                                    </div>
                                    <!-- END TABS menu -->
                                </div>
                            </form>
                        {% endif %}
                        <!-- END Left Sidebar -->

                        <!-- Customer Section Content -->
                        <div class="col-md-10 margin-top-020" id="content-column">
                            <!-- Start Status Messages -->
                            {% include '_base_message.html' %}
                            <!-- End Status Messages -->

                            <!-- Title -->
                            <h2>{% block title_customer %}{% endblock title_customer %}</h2>
                            <!-- End Title -->
                            {% block content_customer %}{% endblock content_customer %}
                        </div>
                        <!-- End Customer Section Content -->
                    </div>
                </div>

                <!-- Start Bufer -->
                <!-- <div class="footer-push"></div> -->
                <!-- End Bufer -->
            </div>
        {% endif %}
        <!-- End Body -->
    </div>
    <!-- End Container -->


    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

    <!-- JQUERY UI -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Formstone Select JavaScript -->
    <!-- <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/jquery.fs.selecter.min.js' %}"></script> -->

    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous">
    </script>

    <!-- CKEditor JavaScript -->
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>

    <!-- Checkboxes -->
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <!-- custom scripts -->
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts_ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script_selectors.js' %}"></script>


    <!-- Slider scripts -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"></script> -->


    <!--
    <script type="text/javascript" src="{% static 'js/scripts_google_maps.js' %}"></script>
    -->

    <!-- Myscripts -->
    {% block extra_js %}{% endblock extra_js %}
    <!-- End Myscripts -->
</body>
</html>
