{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Imagery classification system">
        <meta name="author" content="Alexey Tarutin">
        <title>GSI Eolas</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />

        <!-- custom styles -->
        <link rel="stylesheet" href="{% static 'css/signin.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    </head>
    
    <body>
        <!-- Start Container -->
        <div class="container">

            <!-- Start Status Message Authorization -->
            <div class="row">
                <div class="col-md-12">
                    {% block status_message_auth %}{% endblock status_message_auth %}
                </div>
            </div>
            <!-- End Status Message Authorization -->

            <!-- Start Content -->
            <div class="row">
                <div class="col-md-12 reg-form">
                    {% block content %}{% endblock content %}
                </div>
            </div>
            <!-- End Content -->

            <!-- Start Footer -->
            <div class="row">
                <div class="col-md-12 center margin-top-50 margin-bottom-50 font-11">
                    &copy; {{ CURRENT_YEAR }} GSI Eolas
                </div>
            </div>
            <!-- End Footer -->
        </div>

        <!-- jQuery first, then Bootstrap JS -->
        <script type="text/javascript" src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
