<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.name.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.name.errors %}
            {{ form.name }}
        {% else %}
            <span class="field-error">{{ form.name }}</span>
            <b class="error-form">{{ form.name.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form_.run_parallel.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.run_parallel.label }}</label>
        </div>
    </div>
    <div class="col-md-2 margin-top-4">
        {% if not form.run_parallel.errors %}
            {{ form.run_parallel }}
        {% else %}
            <span class="field-error">{{ form.run_parallel }}</span>
            <b class="error-form">{{ form.run_parallel.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.output_tile_subdir.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.output_tile_subdir.label }}</label>
        </div>
    </div>
    <div class="col-md-10">
        {% if not form.output_tile_subdir.errors %}
            {{ form.output_tile_subdir }}
        {% else %}
            <span class="field-error">{{ form.output_tile_subdir }}</span>
            <b class="error-form">{{ form.output_tile_subdir.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.path_spec_location.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.path_spec_location.label }}</label>
        </div>
    </div>
    <div class="col-md-10">
        {% if not form.path_spec_location.errors %}
            {{ form.path_spec_location }}
        {% else %}
            <span class="field-error">{{ form.path_spec_location }}</span>
            <b class="error-form">{{ form.path_spec_location.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.area.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.area.label }}</label>
        </div>
    </div>
    <div class="col-md-4 period">
        {% if not form.area.errors %}
            {{ form.area }}
        {% else %}
            <span class="field-error">{{ form.area }}</span>
            <b class="error-form">{{ form.area.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.year_group.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.year_group.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.year_group.errors %}
            {{ form.year_group }}
        {% else %}
            <span class="field-error">{{ form.year_group }}</span>
            <b class="error-form">{{ form.year_group.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.period.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.period.label }}</label>
        </div>
    </div>
    <div class="col-md-4 period">
        {% if not form.period.errors %}
            {{ form.period }}
        {% else %}
            <span class="field-error">{{ form.period }}</span>
            <b class="error-form">{{ form.period.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 col-md-offset-6 right">
        <div class="form-group {% if form.doy_variable.errors %}has-error{% endif %}">
            <label class="control-label font-normal doy-label disabled">{{ form.doy_variable.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.doy_variable.errors %}
            {{ form.doy_variable }}
        {% else %}
            <span class="field-error">{{ form.doy_variable }}</span>
            <b class="error-form">{{ form.doy_variable.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.filter.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.filter.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.filter.errors %}
            {{ form.filter }}
        {% else %}
            <span class="field-error">{{ form.filter }}</span>
            <b class="error-form">{{ form.filter.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.filter_out.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.filter_out.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.filter_out.errors %}
            {{ form.filter_out }}
        {% else %}
            <span class="field-error">{{ form.filter_out }}</span>
            <b class="error-form">{{ form.filter_out.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.input_fourier.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.input_fourier.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.input_fourier.errors %}
            {{ form.input_fourier }}
        {% else %}
            <span class="field-error">{{ form.input_fourier }}</span>
            <b class="error-form">{{ form.input_fourier.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.out_dir.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.out_dir.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.out_dir.errors %}
            {{ form.out_dir }}
        {% else %}
            <span class="field-error">{{ form.out_dir }}</span>
            <b class="error-form">{{ form.out_dir.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-50">
    <div class="col-md-2">
        <button type="submit" name="cancel_button" class="btn btn-default btn-block">Cancel</button>
    </div>
    <div class="col-md-4">
        <button type="submit" name="save_and_another_button" class="btn btn-primary btn-block">Save and another</button>
    </div>
    <div class="col-md-4">
        <button type="submit" name="save_and_continue_editing_button" class="btn btn-primary btn-block">
            Save and continue editing
        </button>
    </div>
    <div class="col-md-2">
        <button type="submit" name="save_button" class="btn btn-primary btn-block">Save</button>
    </div>
</div>
