<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.name.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.name.errors %}
            {{ form.name }}
        {% else %}
            <span class="field-error">{{ form.name }}</span>
            <b class="error-form">{{ form.name.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.run_parallel.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.run_parallel.label }}</label>
        </div>
    </div>
    <div class="col-md-2 margin-top-4">
        {% if not form.run_parallel.errors %}
            {{ form.run_parallel }}
        {% else %}
            <span class="field-error">{{ form.run_parallel }}</span>
            <b class="error-form">{{ form.run_parallel.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.path_spec_location.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.path_spec_location.label }}</label>
        </div>
    </div>
    <div class="col-md-10">
        {% if not form.path_spec_location.errors %}
            {{ form.path_spec_location }}
        {% else %}
            <span class="field-error">{{ form.path_spec_location }}</span>
            <b class="error-form">{{ form.path_spec_location.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.area.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.area.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.area.errors %}
            {{ form.area }}
        {% else %}
            <span class="field-error">{{ form.area }}</span>
            <b class="error-form">{{ form.area.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.year_group.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.year_group.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.year_group.errors %}
            {{ form.year_group }}
        {% else %}
            <span class="field-error">{{ form.year_group }}</span>
            <b class="error-form">{{ form.year_group.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.mode.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.mode.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.mode.errors %}
            {{ form.mode }}
        {% else %}
            <span class="field-error">{{ form.mode }}</span>
            <b class="error-form">{{ form.mode.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-50">
    <div class="col-md-2">
        <button type="submit" name="cancel_button" class="btn btn-default btn-block">Cancel</button>
    </div>
    <div class="col-md-4">
        <button type="submit" name="save_and_another_button" class="btn btn-primary btn-block">Save and another</button>
    </div>
    <div class="col-md-4">
        <button type="submit" name="save_and_continue_editing_button" class="btn btn-primary btn-block">
            Save and continue editing
        </button>
    </div>
    <div class="col-md-2">
        <button type="submit" name="save_button" class="btn btn-primary btn-block">Save</button>
    </div>
</div>
