<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.name.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.name }}
        {% if form.name.errors %}
            <b class="error-form">{{ form.name.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.aoi_name.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.aoi_name.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.aoi_name }}
        {% if form.aoi_name.errors %}
            <b class="error-form">{{ form.aoi_name.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.satellite.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.satellite.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.satellite }}
        {% if form.satellite.errors %}
            <b class="error-form">{{ form.satellite.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.run_set.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.run_set.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.run_set }}
        {% if form.run_set.errors %}
            <b class="error-form">{{ form.run_set.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.model.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.model.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.model }}
        {% if form.model.errors %}
            <b class="error-form">{{ form.model.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.mvrf.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.mvrf.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.mvrf }}
        {% if form.mvrf.errors %}
            <b class="error-form">{{ form.mvrf.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.param_set.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.param_set.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.param_set }}
        {% if form.param_set.errors %}
            <b class="error-form">{{ form.param_set.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-50">
    <div class="col-md-2">
        <button type="submit" name="cancel_button" class="btn btn-default btn-block">Cancel</button>
    </div>
    <div class="col-md-4">
        <button type="submit" name="save_and_another_button" class="btn btn-primary btn-block">Save and another</button>
    </div>
    <div class="col-md-4">
        <button type="submit" name="save_and_continue_editing_button" class="btn btn-primary btn-block">
            Save and continue editing
        </button>
    </div>
    <div class="col-md-2">
        <button type="submit" name="save_button" class="btn btn-primary btn-block">Save</button>
    </div>
</div>