<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.name.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.name.errors %}
            {{ form.name }}
        {% else %}
            <span class="field-error">{{ form.name }}</span>
            <b class="error-form">{{ form.name.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.run_parallel.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.run_parallel.label }}</label>
        </div>
    </div>
    <div class="col-md-2 margin-top-4 left">
        {% if not form.run_parallel.errors %}
            {{ form.run_parallel }}
        {% else %}
            <span class="field-error">{{ form.run_parallel }}</span>
            <b class="error-form">{{ form.run_parallel.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.model_name.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.model_name.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.model_name.errors %}
            {{ form.model_name }}
        {% else %}
            <span class="field-error">{{ form.model_name }}</span>
            <b class="error-form">{{ form.model_name.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.year_group.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.year_group.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.year_group.errors %}
            {{ form.year_group }}
        {% else %}
            <span class="field-error">{{ form.year_group }}</span>
            <b class="error-form">{{ form.year_group.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.file_spec.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.file_spec.label }}*</label>
        </div>
    </div>
    <div class="col-md-10">
        {% if not form.file_spec.errors %}
            {{ form.file_spec }}
        {% else %}
            <span class="field-error">{{ form.file_spec }}</span>
            <b class="error-form">{{ form.file_spec.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.roi.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.roi.label }}*</label>
        </div>
    </div>
    <div class="col-md-10">
        {% if not form.roi.errors %}
            {{ form.roi }}
        {% else %}
            <span class="field-error">{{ form.roi }}</span>
            <b class="error-form">{{ form.roi.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.output_root.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.output_root.label }}*</label>
        </div>
    </div>
    <div class="col-md-10">
        {% if not form.output_root.errors %}
            {{ form.output_root }}
        {% else %}
            <span class="field-error">{{ form.output_root }}</span>
            <b class="error-form">{{ form.output_root.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.conditional_mean.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.conditional_mean.label }}</label>
        </div>
    </div>
    <div class="col-md-2 margin-top-4 left">
        {% if not form.conditional_mean.errors %}
            {{ form.conditional_mean }}
        {% else %}
            <span class="field-error">{{ form.conditional_mean }}</span>
            <b class="error-form">{{ form.conditional_mean.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.conditional_min.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.conditional_min.label }}</label>
        </div>
    </div>
    <div class="col-md-2 margin-top-4 left">
        {% if not form.conditional_min.errors %}
            {{ form.conditional_min }}
        {% else %}
            <span class="field-error">{{ form.conditional_min }}</span>
            <b class="error-form">{{ form.conditional_min.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.conditional_median.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.conditional_median.label }}</label>
        </div>
    </div>
    <div class="col-md-2 margin-top-4 left">
        {% if not form.conditional_median.errors %}
            {{ form.conditional_median }}
        {% else %}
            <span class="field-error">{{ form.conditional_median }}</span>
            <b class="error-form">{{ form.conditional_median.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.conditional_max.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.conditional_max.label }}</label>
        </div>
    </div>
    <div class="col-md-2 margin-top-4 left">
        {% if not form.conditional_max.errors %}
            {{ form.conditional_max }}
        {% else %}
            <span class="field-error">{{ form.conditional_max }}</span>
            <b class="error-form">{{ form.conditional_max.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.lower_quartile.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.lower_quartile.label }}</label>
        </div>
    </div>
    <div class="col-md-2 margin-top-4 left">
        {% if not form.lower_quartile.errors %}
            {{ form.lower_quartile }}
        {% else %}
            <span class="field-error">{{ form.lower_quartile }}</span>
            <b class="error-form">{{ form.lower_quartile.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.upper_quartile.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.upper_quartile.label }}</label>
        </div>
    </div>
    <div class="col-md-2 margin-top-4 left">
        {% if not form.upper_quartile.errors %}
            {{ form.upper_quartile }}
        {% else %}
            <span class="field-error">{{ form.upper_quartile }}</span>
            <b class="error-form">{{ form.upper_quartile.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.output_suffix.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.output_suffix.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.output_suffix.errors %}
            {{ form.output_suffix }}
        {% else %}
            <span class="field-error">{{ form.output_suffix }}</span>
            <b class="error-form">{{ form.output_suffix.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.scale.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.scale.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.scale.errors %}
            {{ form.scale }}
        {% else %}
            <span class="field-error">{{ form.scale }}</span>
            <b class="error-form">{{ form.scale.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.output.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.output.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.output.errors %}
            {{ form.output }}
        {% else %}
            <span class="field-error">{{ form.output }}</span>
            <b class="error-form">{{ form.output.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.color_table.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.color_table.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.color_table.errors %}
            {{ form.color_table }}
        {% else %}
            <span class="field-error">{{ form.color_table }}</span>
            <b class="error-form">{{ form.color_table.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.refstats_file.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.refstats_file.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.refstats_file.errors %}
            {{ form.refstats_file }}
        {% else %}
            <span class="field-error">{{ form.refstats_file }}</span>
            <b class="error-form">{{ form.refstats_file.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.refstats_scale.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.refstats_scale.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.refstats_scale.errors %}
            {{ form.refstats_scale }}
        {% else %}
            <span class="field-error">{{ form.refstats_scale }}</span>
            <b class="error-form">{{ form.refstats_scale.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-50">
    <div class="col-md-2">
        <button type="submit" name="cancel_button" class="btn btn-default btn-block">Cancel</button>
    </div>
    <div class="col-md-4">
        <button type="submit" name="save_and_another_button" class="btn btn-primary btn-block">Save and another</button>
    </div>
    <div class="col-md-4">
        <button type="submit" name="save_and_continue_editing_button" class="btn btn-primary btn-block">
            Save and continue editing
        </button>
    </div>
    <div class="col-md-2">
        <button type="submit" name="save_button" class="btn btn-primary btn-block">Save</button>
    </div>
</div>