<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.name.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.name }}
        {% if form.name.errors %}
            <b class="error-form">{{ form.name.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.run_parallel.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.run_parallel.label }}</label>
        </div>
    </div>
    <div class="col-md-2 margin-top-4">
        {{ form.run_parallel }}
        {% if form.run_parallel.errors %}
            <b class="error-form">{{ form.run_parallel.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.area.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.area.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.area }}
        {% if form.area.errors %}
            <b class="error-form">{{ form.area.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.year_group.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.year_group.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.year_group }}
        {% if form.year_group.errors %}
            <b class="error-form">{{ form.year_group.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.number_of_threads.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.number_of_threads.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.number_of_threads }}
        {% if form.number_of_threads.errors %}
            <b class="error-form">{{ form.number_of_threads.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.bias_corrn.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.bias_corrn.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.bias_corrn }}
        {% if form.bias_corrn.errors %}
            <b class="error-form">{{ form.bias_corrn.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.QRFopts.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.QRFopts.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.QRFopts }}
        {% if form.QRFopts.errors %}
            <b class="error-form">{{ form.QRFopts.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.ref_target.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.ref_target.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.ref_target }}
        {% if form.ref_target.errors %}
            <b class="error-form">{{ form.ref_target.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.clean_name.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.clean_name.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.clean_name }}
        {% if form.clean_name.errors %}
            <b class="error-form">{{ form.clean_name.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-50">
    <div class="col-md-2">
        <button type="submit" name="cancel_button" class="btn btn-default btn-block">Cancel</button>
    </div>
    <div class="col-md-4">
        <button type="submit" name="save_and_another_button" class="btn btn-primary btn-block">Save and another</button>
    </div>
    <div class="col-md-4">
        <button type="submit" name="save_and_continue_editing_button" class="btn btn-primary btn-block">
            Save and continue editing
        </button>
    </div>
    <div class="col-md-2">
        <button type="submit" name="save_button" class="btn btn-primary btn-block">Save</button>
    </div>
</div>