<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.name.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.name }}
        {% if form.name.errors %}
            <b class="error-form">{{ form.name.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.run_parallel.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.run_parallel.label }}</label>
        </div>
    </div>
    <div class="col-md-2 margin-top-4">
        {{ form.run_parallel }}
        {% if form.run_parallel.errors %}
            <b class="error-form">{{ form.run_parallel.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.tile_type.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.tile_type.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.tile_type }}
        {% if form.tile_type.errors %}
            <b class="error-form">{{ form.tile_type.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.number_of_trees.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.number_of_trees.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.number_of_trees }}
        {% if form.number_of_trees.errors %}
            <b class="error-form">{{ form.number_of_trees.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.value.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.value.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.value }}
        {% if form.value.errors %}
            <b class="error-form">{{ form.value.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.config_file.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.config_file.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.config_file }}
        {% if form.config_file.errors %}
            <b class="error-form">{{ form.config_file.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.output_tile_subdir.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.output_tile_subdir.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.output_tile_subdir }}
        {% if form.output_tile_subdir.errors %}
            <b class="error-form">{{ form.output_tile_subdir.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.input_scale_factor.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.input_scale_factor.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {{ form.input_scale_factor }}
        {% if form.input_scale_factor.errors %}
            <b class="error-form">{{ form.input_scale_factor.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-50">
    <div class="col-md-2">
        <button type="submit" name="cancel_button" class="btn btn-default btn-block">Cancel</button>
    </div>
    <div class="col-md-4">
        <button type="submit" name="save_and_another_button" class="btn btn-primary btn-block">Save and another</button>
    </div>
    <div class="col-md-4">
        <button type="submit" name="save_and_continue_editing_button" class="btn btn-primary btn-block">
            Save and continue editing
        </button>
    </div>
    <div class="col-md-2">
        <button type="submit" name="save_button" class="btn btn-primary btn-block">Save</button>
    </div>
</div>