<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.name.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if form.name.errors %}
            <b class="error-form">{{ form.name.errors }}</b>
        {% endif %}
        {{ form.name }}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.run_parallel.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.run_parallel.label }}</label>
        </div>
    </div>
    <div class="col-md-2 margin-top-4">
        {% if form.run_parallel.errors %}
            <b class="error-form">{{ form.run_parallel.errors }}</b>
        {% endif %}
        {{ form.run_parallel }}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.area.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.area.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if form.area.errors %}
            <b class="error-form">{{ form.area.errors }}</b>
        {% endif %}
        {{ form.area }}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.filetype.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.filetype.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if form.filetype.errors %}
            <b class="error-form">{{ form.filetype.errors }}</b>
        {% endif %}
        {{ form.filetype }}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.filter.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.filter.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if form.filter.errors %}
            <b class="error-form">{{ form.filter.errors }}</b>
        {% endif %}
        {{ form.filter }}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.filter_output.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.filter_output.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if form.filter_output.errors %}
            <b class="error-form">{{ form.filter_output.errors }}</b>
        {% endif %}
        {{ form.filter_output }}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.extend_start.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.extend_start.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if form.extend_start.errors %}
            <b class="error-form">{{ form.extend_start.errors }}</b>
        {% endif %}
        {{ form.extend_start }}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.input_fourier.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.input_fourier.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if form.input_fourier.errors %}
            <b class="error-form">{{ form.input_fourier.errors }}</b>
        {% endif %}
        {{ form.input_fourier }}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.input_directory.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.input_directory.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if form.input_directory.errors %}
            <b class="error-form">{{ form.input_directory.errors }}</b>
        {% endif %}
        {{ form.input_directory }}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.output_directory.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.output_directory.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if form.output_directory.errors %}
            <b class="error-form">{{ form.output_directory.errors }}</b>
        {% endif %}
        {{ form.output_directory }}
    </div>
</div>

<div class="row margin-top-50">
    <div class="col-md-2">
        <button type="submit" name="cancel_button" class="btn btn-default btn-block">Cancel</button>
    </div>
    <div class="col-md-4">
        <button type="submit" name="save_and_another_button" class="btn btn-primary btn-block">Save and another</button>
    </div>
    <div class="col-md-4">
        <button type="submit" name="save_and_continue_editing_button" class="btn btn-primary btn-block">
            Save and continue editing
        </button>
    </div>
    <div class="col-md-2">
        <button type="submit" name="save_button" class="btn btn-primary btn-block">Save</button>
    </div>
</div>