{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}{{ title }}{% endblock title %}

{% block status_message %}
    {% if form.errors %}
        Please, correct the following errors!
    {% endif %}
{% endblock status_message %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form action="
                {% if card_id %}
                    {% url url_form run_id cs_id card card_id %}
                {% else %}
                    {% url url_form run_id cs_id %}
                {% endif %}"
                method="post"
                enctype="multipart/form-data" role="form" class="form-horizontal">
                {% csrf_token %}

                {% include template_name %}

            </form>
        </div>
    </div>
{% endblock content %}
