{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <form action="{% if cs_id %}
                    {% url 'proces_card_new_run_new_sc' cs_id %}
                  {% else %}
                    {% url 'proces_card_new_run' %}
                  {% endif %}" method="post"
        enctype="multipart/form-data" role="form" class="form-horizontal">
        {% csrf_token %}

        {% include "cards/_create_processing_card_form.html" %}

    </form>
{% endblock content %}