.btn-default {
    background-color: #fff;
    border-color: #fff;
    color: #333;
}

.btn-default:hover,
.btn-default:active {
    border-color: #fff;
}

.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:focus {
    background-color: transparent;
    border-color: #fff;
    color: #333;
}