{% extends "base.html" %}
{% load static from staticfiles %}

{% block status_message %}
    {% if form.errors %}
        <div class="alert alert-warning" role="alert">{{ form.non_field_errors }}</div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-12 center">
            <h2 class="top-50">Log in and get to GSI</h2>
        </div>

        <form action="{% url 'users:auth_login' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'home' %}" />

            <div class="col-md-4 col-md-offset-4 form-group right top-15">
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-user"></i></span>
                    <input class="form-control" type="text" id="login" value="" placeholder="Username" autofocus="true">
                    <span class="help-block">{{ form.errors.username.as_data.0.0 }}</span>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-4 form-group right top-15">
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-lock"></i></span>
                    <input class="form-control" type="text" id="password" value="" placeholder="Password" autofocus="true">
                    <span class="help-block">{{ form.errors.password.as_data.0.0 }}</span>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-4">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <p class="top-15"><a href="#">Forgot your password?</a></p>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <a href="#" class="btn btn-default btn-lg top-15 btn-block" role="button">Sign up</a>
            </div>
        </form>


    </div>
{% endblock content %}
