{% extends "base_registrations.html" %}
{% load static from staticfiles %}

{% block title %}Login{% endblock title %}

{% block status_message_auth %}
    {% if form.errors %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% if form.non_field_errors %}
                {{ form.non_field_errors.as_text }}.
            {% else %}
                Please, correct the following errors.
            {% endif %}
        </div>
    {% endif %}
{% endblock status_message_auth %}

{% block content %}
    <form action="{% url 'users:auth_login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url 'index' %}" />
        
        <div class="row col-md-4 margin-top-100 left">
            <img src="{% static 'img/GSIlogo-big.png' %}"/>
        </div>

        <div class="row col-md-4 background-white margin-left-30 center">
            <h2 class="left"><b>Login</b></h2>

            <div class="row margin-top-25">
                <div class="col-md-12">
                    <input type="text" class="border-bottom form-control padding-0" id="username"
                           value="" name="username" placeholder="Username"/>
                    <span class="help-block red-color padding-0">{{ form.errors.username.as_data.0.0 }}</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <input type="password" class="border-bottom form-control padding-0" id="id_new_password1"
                           value="" name="password" placeholder="Password"/>
                    <span class="help-block red-color">{{ form.errors.password.as_data.0.0 }}</span>
                </div>
            </div>

            <div class="row margin-top-15">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success btn-block">Login</button>
                </div>
            </div>
            
            <div class="row margin-top-15 margin-bottom-15">
                <div class="col-md-7 left">
                    <a href="{% url 'reset_password_reset1' %}">
                        Forgot your password?
                    </a>
                </div>
                
                <div class="col-md-5 right">
                    <a href="{% url 'users:registration_register' %}">
                        Sign Up
                    </a>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
