{% extends "base_registrations.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{% trans 'Password reset successful' %}{% endblock %}

{% block status_message_auth %}
    {% if form.errors %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% if form.non_field_errors %}
                {{ form.non_field_errors.as_text }}.
            {% else %}
                Please, correct the following errors.
            {% endif %}
        </div>
    {% endif %}
{% endblock status_message_auth %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4 background-white">
            <h3 class="center">Password reset successful</h3>
            <p class="center font-size-12">{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>
            <p class="center font-size-12">{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
            <div class="col-md-12 margin-top-15 center">
                <span>Back to page</span>
                <a href="{% url 'users:auth_login' %}"
                   class="btn btn-link padding-0" role="button">
                    Login
                </a>
            </div>
        </div>
    </div>



{% endblock %}