{% extends "base_registrations.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; {% trans 'Password reset' %}
    </div>
{% endblock %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block status_message_auth %}
    {% if form.errors %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% if form.non_field_errors %}
                {{ form.non_field_errors.as_text }}.
            {% else %}
                Please, correct the following errors.
            {% endif %}
        </div>
    {% endif %}
{% endblock status_message_auth %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
        <div class="row">
            <div class="col-md-6 background-white">
                <h2 class="center"><b>Password reset</b></h2>

                <div class="row margin-top-25">
                <div class="row">
                    <div class="col-md-12">
                        {{ form.email }}
                    </div>
                    
                    <div class="col-md-12">
                        <span class="help-block">{{ form.errors.email.as_text }}</span>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-success margin-top-8 btn-block" value="{% trans 'Reset password' %}" /></p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 margin-top-8 margin-bottom-15 center">
                        <a href="{% url 'users:auth_login' %}">
                            Return to login page
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
