{% extends "base_registrations.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; {% trans 'Password reset confirmation' %}
    </div>
{% endblock %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block status_message_auth %}
    {% if form.errors %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% if form.non_field_errors %}
                {{ form.non_field_errors.as_text }}.
            {% else %}
                Please, correct the following errors.
            {% endif %}
        </div>
    {% endif %}
{% endblock status_message_auth %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4 background-white">
            {% if validlink %}
                <div class="row">
                    <h2 class="center">Enter new password</h2>
                    <p class="center font-size-12">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                </div>

                <form action="" method="post">{% csrf_token %}
                    <div class="row margin-top-15">
                        <div class="col-md-12">
                            {{ form.new_password1 }}
                            {{ form.new_password1.errors }}
                        </div>
                    </div>

                    <div class="row margin-top-15">
                        <div class="col-md-12">
                            {{ form.new_password2 }}
                            {{ form.new_password2.errors }}
                        </div>
                    </div>

                    <p><input type="submit" class="btn btn-success margin-top-8 margin-bottom-15 btn-block margin-top-25" value="{% trans 'Change password' %}" /></p>
                </form>
            {% else %}
                <div class="row">
                    <h2 class="center">{% trans 'Password reset unsuccessful' %}</h2>
                    <p class="center font-size-12">{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
