{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-12 left">
            {% autoescape off %}
            {% for w in wiki %}
                <h2 class="left">{{ w.title }}</h2>
                {{ w.content }}
                <br /><hr size="2px" /><br />
                <a href="{% url "wiki_edit" w.id %}" class="wiki-edit-form-link">Edit</a>
            {% endfor %}
            {% endautoescape %}
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-primary btn-block">
                New Article
            </button>
        </div>
    </div> -->
{% endblock content %}
