{% load static from staticfiles %}

<div class="row margin-top-15">
    <!--<div class="col-md-2 right">-->
        <!--<div class="form-group {% if form.name.errors %}has-error{% endif %}">-->
            <!--<label class="control-label">{{ form.name.label }}*</label>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
        <!--{% if form.name.errors %}-->
            <!--<b class="error-form">{{ form.name.errors }}</b>-->
        <!--{% endif %}-->
        <!--{{ form.name }}-->
    <!--</div>-->

    <div class="col-md-2 right">
        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
            <label class="control-label">Name</label>
        </div>
    </div>
    <div class="col-md-4 left margin-top-8 grey-color">
        {{ card_sequence.name }}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.content_object.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.environment_base.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.environment_base.errors %}
            {{ form.environment_base }}
        {% else %}
            <span class="field-error">{{ form.environment_base }}</span>
            <b class="error-form">{{ form.environment_base.errors }}</b>
        {% endif %}

    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form.environment_override.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.environment_override.label }}</label>
        </div>
    </div>
    <div class="col-md-10">
        {% if not form.environment_override.errors %}
            {{ form.environment_override }}
        {% else %}
            <span class="field-error">{{ form.environment_override }}</span>
            <b class="error-form">{{ form.environment_override.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15" id="add_item_order">
    <div class="col-md-2 right" >
        <div class="form-group {% if form.cards.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.card_item.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form.card_item.errors %}
            {{ form.card_item }}
        {% else %}
            <span class="field-error">{{ form.card_item }}</span>
            <b class="error-form">{{ form.card_item.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form.order.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.order.label }}</label>
        </div>
    </div>
    <div class="col-md-2">
        {% if not form.order.errors %}
            {{ form.order }}
        {% else %}
            <span class="field-error">{{ form.order }}</span>
            <b class="error-form">{{ form.order.errors }}</b>
        {% endif %}
    </div>
    <div class="col-md-2">
        <button type="submit" name="add_card_items_button" class="btn btn-primary btn-block">Added</button>
    </div>
</div>

{% if card_sequence_cards %}
<div class="row margin-top-15">
    <div class="col-md-12">
        <div class="form-group {% if form.environment_override.errors %}has-error{% endif %}">
            <label class="control-label">Ordered card items</label>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Card item</th>
                        <th>Order</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for card in card_sequence_cards %}
                        <tr>
                            <td><input type="checkbox" name="cs_select" value="{{ card.id }}"></td>
                            <td>{{ card.card_item }}</td>
                            <td>{{ card.order }}</td>
                            <td>
                                <a
                                   href="{% if run_id %}
                                            {% if card.card_item.content_type.model == 'qrf' %}
                                                {% url 'cs_runid_csid_qrf_edit' run_id cs_id card.id card.card_item.object_id %}
                                            {% elif card.card_item.content_type.model == 'rfscore' %}
                                                {% url 'cs_runid_csid_rfscore_edit' run_id cs_id card.id card.card_item.object_id %}
                                            {% elif card.card_item.content_type.model == 'remap' %}
                                                {% url 'cs_runid_csid_remap_edit' run_id cs_id card.id card.card_item.object_id %}
                                            {% elif card.card_item.content_type.model == 'yearfilter' %}
                                                {% url 'cs_runid_csid_year_filter_edit' run_id cs_id card.id card.card_item.object_id %}
                                            {% elif card.card_item.content_type.model == 'collate' %}
                                                {% url 'cs_runid_csid_collate_edit' run_id cs_id card.id card.card_item.object_id %}
                                            {% elif card.card_item.content_type.model == 'preproc' %}
                                                {% url 'cs_runid_csid_preproc_edit' run_id cs_id card.id card.card_item.object_id %}
                                            {% elif card.card_item.content_type.model == 'mergecsv' %}
                                                {% url 'cs_runid_csid_mergecsv_edit' run_id cs_id card.id card.card_item.object_id %}
                                            {% elif card.card_item.content_type.model == 'rftrain' %}
                                                {% url 'cs_runid_csid_rftrain_edit' run_id cs_id card.id card.card_item.object_id %}
                                            {% elif card.card_item.content_type.model == 'randomforest' %}
                                                {% url 'cs_runid_csid_randomforest_edit' run_id cs_id card.id card.card_item.object_id %}
                                            {% elif card.card_item.content_type.model == 'calcstats' %}
                                                {% url 'cs_runid_csid_calcstats_edit' run_id cs_id card.id card.card_item.object_id %}
                                            {% endif %}
                                        {% else %}
                                            {% if card.card_item.content_type.model == 'qrf' %}
                                                {% url 'cs_run_csid_qrf_edit' cs_id card.card_item.object_id %}
                                            {% elif card.card_item.content_type.model == 'rfscore' %}
                                                {% url 'cs_run_csid_rfscore_edit' cs_id card.card_item.object_id %}
                                            {% elif card.card_item.content_type.model == 'remap' %}
                                                {% url 'cs_run_csid_remap_edit' cs_id card.card_item.object_id %}
                                            {% elif card.card_item.content_type.model == 'yearfilter' %}
                                                {% url 'cs_run_csid_year_filter_edit' cs_id card.card_item.object_id %}
                                            {% elif card.card_item.content_type.model == 'collate' %}
                                                {% url 'cs_run_csid_collate_edit' cs_id card.card_item.object_id %}
                                            {% elif card.card_item.content_type.model == 'preproc' %}
                                                {% url 'cs_run_csid_preproc_edit' cs_id card.card_item.object_id %}
                                            {% elif card.card_item.content_type.model == 'mergecsv' %}
                                                {% url 'cs_run_csid_mergecsv_edit' cs_id card.card_item.object_id %}
                                            {% elif card.card_item.content_type.model == 'rftrain' %}
                                                {% url 'cs_run_csid_rftrain_edit' cs_id card.card_item.object_id %}
                                            {% endif %}
                                        {% endif %}" data-toggle="tooltip" data-placement="top" title="Edit"><img src="{% static 'img/edit-18.png' %}"/></a>
                                <!-- <button class="btn del-btn check-cur-delete" type="submit" name="del_current_btn" value="{{ card.id }}" data-toggle="tooltip" data-placement="top" title="Delete">
                                    <img src="{% static 'img/delete-18.png' %}"/>
                                </button> -->
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <button type="submit" name="delete_button" class="btn btn-danger btn-block check-delete">
            Delete Card Sequences
        </button>
    </div>
</div>
{% endif %}

<div class="row margin-top-50">
    <div class="col-md-2">
        <button type="submit" name="cancel_button" class="btn btn-default btn-block">
            Cancel
        </button>
    </div>
    <div class="col-md-4">
        <button type="button" name="create_processing_card" class="btn btn-default btn-block create_card">
            New Processing Card
        </button>
    </div>
    <div class="col-md-4">
        <button type="submit" name="save_and_continue_editing_button" class="btn btn-primary btn-block">
            Save and continue editing
        </button>
    </div>
    <div class="col-md-2">
        <button type="submit" name="save_button" class="btn btn-primary btn-block">
            Save
        </button>
    </div>
</div>

<!-- Modal Check Delete Items -->
{% include '_modal_check_delete_items.html' %}
<!-- End Modal Check Delete Items -->

<!-- Modal Check Delete Items -->
{% include 'gsi/_modal_new_card.html' %}
<!-- End Modal Check Delete Items -->
