<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form_2.name.errors %}has-error{% endif %}">
            <label class="control-label">{{ form_2.name.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.name.errors %}
            {{ form_2.name }}
        {% else %}
            <span class="field-error">{{ form_2.name }}</span>
            <b class="error-form">{{ form_2.name.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form_1.order.errors %}has-error{% endif %}">
            <label class="control-label">{{ form_1.order.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_1.order.errors %}
            2323232 === {{ form_1.order }}
        {% else %}
            <span class="field-error">{{ form_1.order }}</span>
            <b class="error-form">{{ form_1.order.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form_2.run_parallel.errors %}has-error{% endif %}">
            <label class="control-label">{{ form_2.run_parallel.label }}</label>
        </div>
    </div>
    <div class="col-md-2 margin-top-4">
        {% if not form_2.run_parallel.errors %}
            {{ form_2.run_parallel }}
        {% else %}
            <span class="field-error">{{ form_2.run_parallel }}</span>
            <b class="error-form">{{ form_2.run_parallel.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form_2.file_spec.errors %}has-error{% endif %}">
            <label class="control-label">{{ form_2.file_spec.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.file_spec.errors %}
            {{ form_2.file_spec }}
        {% else %}
            <span class="field-error">{{ form_2.file_spec }}</span>
            <b class="error-form">{{ form_2.file_spec.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form_2.roi.errors %}has-error{% endif %}">
            <label class="control-label">{{ form_2.roi.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.roi.errors %}
            {{ form_2.roi }}
        {% else %}
            <span class="field-error">{{ form_2.roi }}</span>
            <b class="error-form">{{ form_2.roi.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form_2.output_root.errors %}has-error{% endif %}">
            <label class="control-label">{{ form_2.output_root.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.output_root.errors %}
            {{ form_2.output_root }}
        {% else %}
            <span class="field-error">{{ form_2.output_root }}</span>
            <b class="error-form">{{ form_2.output_root.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form_2.output_suffix.errors %}has-error{% endif %}">
            <label class="control-label">{{ form_2.output_suffix.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.output_suffix.errors %}
            {{ form_2.output_suffix }}
        {% else %}
            <span class="field-error">{{ form_2.output_suffix }}</span>
            <b class="error-form">{{ form_2.output_suffix.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form_2.scale.errors %}has-error{% endif %}">
            <label class="control-label">{{ form_2.scale.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.scale.errors %}
            {{ form_2.scale }}
        {% else %}
            <span class="field-error">{{ form_2.scale }}</span>
            <b class="error-form">{{ form_2.scale.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form_2.output.errors %}has-error{% endif %}">
            <label class="control-label">{{ form_2.output.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.output.errors %}
            {{ form_2.output }}
        {% else %}
            <span class="field-error">{{ form_2.output }}</span>
            <b class="error-form">{{ form_2.output.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form_2.color_table.errors %}has-error{% endif %}">
            <label class="control-label">{{ form_2.color_table.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.color_table.errors %}
            {{ form_2.color_table }}
        {% else %}
            <span class="field-error">{{ form_2.color_table }}</span>
            <b class="error-form">{{ form_2.color_table.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form_2.refstats_file.errors %}has-error{% endif %}">
            <label class="control-label">{{ form_2.refstats_file.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.refstats_file.errors %}
            {{ form_2.refstats_file }}
        {% else %}
            <span class="field-error">{{ form_2.refstats_file }}</span>
            <b class="error-form">{{ form_2.refstats_file.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form_2.refstats_scale.errors %}has-error{% endif %}">
            <label class="control-label">{{ form_2.refstats_scale.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.refstats_scale.errors %}
            {{ form_2.refstats_scale }}
        {% else %}
            <span class="field-error">{{ form_2.refstats_scale }}</span>
            <b class="error-form">{{ form_2.refstats_scale.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-50">
    <div class="col-md-2">
        <button type="submit" name="cancel_button" class="btn btn-default btn-block">Cancel</button>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <button type="submit" name="save_and_continue_editing_button" class="btn btn-primary btn-block">
            Save and continue editing
        </button>
    </div>
    <div class="col-md-2">
        <button type="submit" name="save_button" class="btn btn-primary btn-block">Save</button>
    </div>
</div>

<p><input type="hidden">{{ form_1.card_item }}</p>