<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form_2.name.errors %}has-error{% endif %}">
            <label class="control-label">{{ form_2.name.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.name.errors %}
            {{ form_2.name }}
        {% else %}
            <span class="field-error">{{ form_2.name }}</span>
            <b class="error-form">{{ form_2.name.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form_1.order.errors %}has-error{% endif %}">
            <label class="control-label">{{ form_1.order.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_1.order.errors %}
            {{ form_1.order }}
        {% else %}
            <span class="field-error">{{ form_1.order }}</span>
            <b class="error-form">{{ form_1.order.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form_2.tile_type.errors %}has-error{% endif %}">
            <label class="control-label">{{ form_2.tile_type.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.tile_type.errors %}
            {{ form_2.tile_type }}
        {% else %}
            <span class="field-error">{{ form_2.tile_type }}</span>
            <b class="error-form">{{ form_2.tile_type.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form_2.value.errors %}has-error{% endif %}">
            <label class="control-label">{{ form_2.value.label }}*</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.value.errors %}
            {{ form_2.value }}
        {% else %}
            <span class="field-error">{{ form_2.value }}</span>
            <b class="error-form">{{ form_2.value.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form_2.number_of_trees.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form_2.number_of_trees.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.number_of_trees.errors %}
            {{ form_2.number_of_trees }}
        {% else %}
            <span class="field-error">{{ form_2.number_of_trees }}</span>
            <b class="error-form">{{ form_2.number_of_trees.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form_2.number_of_thread.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form_2.number_of_thread.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.number_of_thread.errors %}
            {{ form_2.number_of_thread }}
        {% else %}
            <span class="field-error">{{ form_2.number_of_thread }}</span>
            <b class="error-form">{{ form_2.number_of_thread.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form_2.training.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form_2.training.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.training.errors %}
            {{ form_2.training }}
        {% else %}
            <span class="field-error">{{ form_2.training }}</span>
            <b class="error-form">{{ form_2.training.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form_2.number_of_variable.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form_2.number_of_variable.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.number_of_variable.errors %}
            {{ form_2.number_of_variable }}
        {% else %}
            <span class="field-error">{{ form_2.number_of_variable }}</span>
            <b class="error-form">{{ form_2.number_of_variable.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form_2.output_tile_subdir.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form_2.output_tile_subdir.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.output_tile_subdir.errors %}
            {{ form_2.output_tile_subdir }}
        {% else %}
            <span class="field-error">{{ form_2.output_tile_subdir }}</span>
            <b class="error-form">{{ form_2.output_tile_subdir.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-2 right">
        <div class="form-group {% if form_2.config_file.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form_2.config_file.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.config_file.errors %}
            {{ form_2.config_file }}
        {% else %}
            <span class="field-error">{{ form_2.config_file }}</span>
            <b class="error-form">{{ form_2.config_file.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-15">
    <div class="col-md-2 right">
        <div class="form-group {% if form_2.input_scale_factor.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form_2.input_scale_factor.label }}</label>
        </div>
    </div>
    <div class="col-md-4">
        {% if not form_2.input_scale_factor.errors %}
            {{ form_2.input_scale_factor }}
        {% else %}
            <span class="field-error">{{ form_2.input_scale_factor }}</span>
            <b class="error-form">{{ form_2.input_scale_factor.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-50">
    <div class="col-md-2">
        <button type="submit" name="cancel_button" class="btn btn-default btn-block">Cancel</button>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <button type="submit" name="save_and_continue_editing_button" class="btn btn-primary btn-block">
            Save and continue editing
        </button>
    </div>
    <div class="col-md-2">
        <button type="submit" name="save_button" class="btn btn-primary btn-block">Save</button>
    </div>
</div>

<!-- <p><input type="hidden">{{ form_1.card_item }}</p> -->
