{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}
{{ title }}
{% endblock title %}

{% block status_message %}
    {% if form.errors %}
        Please, correct the following errors!
    {% endif %}
{% endblock status_message %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form action="{% if run_id %}
                            {% url 'card_sequence_update' run_id cs_id %}
                           {% elif cs_id %}
                            {% url 'run_new_card_sequence_update' cs_id %}
                           {% endif %}" method="post"
                enctype="multipart/form-data" role="form" class="form-horizontal">
                {% csrf_token %}

                {% include "gsi/_card_sequence_form.html" %}

            </form>
        </div>
    </div>
{% endblock content %}
