{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            Hello User {{ customer }}!
            <p><a href="http://indy41.epcc.ed.ac.uk/GSiMap.php?q=images/Biomass_TotalLiveAG.Ahtna.Bands&x=2" target="iframe_a">images: Biomass_TotalLiveAG.Ahtna.Bands</a></p>
            <p><a href="http://indy41.epcc.ed.ac.uk/GSiMap.php?q=images/S2Height_Scene_20m&x=1" target="iframe_a">images: S2Height_Scene_20m</a></p>
            <p><a href="http://indy41.epcc.ed.ac.uk/GSiMap.php?q=images/HeightLidarObs_*OneScene" target="iframe_a">images: HeightLidarObs_*OneScene</a></p>
            <p><a href="http://indy41.epcc.ed.ac.uk/GSiMap.php?q=images/LandCover_VegTreed_*_Ahtna2" target="iframe_a">images: LandCover_VegTreed_*_Ahtna2</a></p>
            <iframe id="gsiFrame" class="border-none" src="http://indy41.epcc.ed.ac.uk/GSiMap.php?q=images/Biomass_TotalLiveAG.Ahtna.Bands&x=2" name="iframe_a" width="100%" height="700px" align="left">
                Ваш браузер не поддерживает плавающие фреймы!
            </iframe>
        </div>
    </div>
{% endblock content %}
