{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="btn-group-vertical btn-block" role="group">
                <ul class="nav nav-pills nav-stacked">
                    <li role="button" class="btn btn-default main-menu">
                        <a href="{% url 'run_setup' %}" class="center">Setup New Run</a>
                    </li>
                    <li role="button" class="btn btn-default main-menu">
                        <a href="{% url 'submit_run' %}" class="center">Submit a Run</a>
                    </li>
                    <li role="button" class="btn btn-default main-menu">
                        <a href="{% url 'run_progress' %}" class="center">View Run Progress</a>
                    </li>
                    <li role="button" class="btn btn-default main-menu">
                        <a href="{% url 'static_data_setup' %}" class="center">Setup Static Data</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form action="{% url 'index' %}" enctype="multipart/form-data" role="form"
                  class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="form-group {% if form.test_data.errors %}has-error{% endif %}">
                            <label class="control-label font-normal">{{ form.test_data.label }}</label>
                        </div>
                    </div>

                    <div class="col-md-8">
                        {{ form.test_data }}
                        <p class="help-block font-size-12">Here you can load the test data</p>
                        {% if form.test_data.errors %}
                            <b class="error-form">{{ form.test_data.errors }}</b>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <input type="submit" name="load_button" class="btn-block" value="Load"></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
