{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="btn-group-vertical btn-block" role="group">
                <ul class="nav nav-pills nav-stacked">
                    <li role="button" class="btn btn-default main-menu">
                        <a href="{% url 'run_setup' %}" class="center">Setup New Run</a>
                    </li>
                    <li role="button" class="btn btn-default main-menu">
                        <a href="{% url 'submit_run' %}" class="center">Submit a Run</a>
                    </li>
                    <li role="button" class="btn btn-default main-menu">
                        <a href="#" class="center">View Run Progress</a>
                    </li>
                    <li role="button" class="btn btn-default main-menu">
                        <a href="#" class="center">Setup Static Data</a>
                    </li>
                    <!--<li role="button" class="btn btn-default main-menu">-->
                        <!--<a href="{% url 'auth_logout' %}" class="center">Logout</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
