{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form class="form-modal" action="{% url 'input_data_dir_list' %}" method="post" enctype="multipart/form-data"
                  role="form" class="form-horizontal">
                {% csrf_token %}
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Input Directory</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dir in input_data_dirs %}
                            <tr>
                                <td><input type="checkbox" name="input_data_dirs_select" value="{{ dir.id }}"></td>
                                <td>{{ dir.name }}</td>
                                <td>
                                    <!--<a href="{% url 'input_data_dir_edit' dir.id %}" role="button"><img class="" src="{% static 'img/edit-18.png' %}"/></a>-->
                                    <button class="btn del-btn check-cur-delete" type="button" name="del_current_btn" value="{{ dir.id }}"  data-toggle="tooltip" data-placement="top" title="Delete">
                                        <img src="{% static 'img/delete-18.png' %}"/>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- pagination -->
                {% include 'paginations.html' %}
                <!-- end pagination -->

                <div class="row margin-top-50">
                    <div class="col-md-4 col-md-offset-4">
                        <a class="btn btn-primary btn-block" href="{% url 'input_data_dir_add' %}" role="button">
                            New Input Data Directory
                        </a>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-danger btn-block check-delete">
                            Delete Input Data Directory
                        </button>
                    </div>
                </div>

                <!-- Modal Check Delete Items -->
                {% include '_modal_check_delete_items.html' %}
                <!-- End Modal Check Delete Items -->
            </form>
        </div>
    </div>
{% endblock content %}
