{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}{{ title }}{% endblock title %}

{% block status_message %}
    {% if form.errors %}
        Please, correct the following errors!
    {% endif %}
{% endblock status_message %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form action="." method="post" id="new-run"
                enctype="multipart/form-data" role="form" class="form-horizontal">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-2 right">
                        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                            <label class="control-label">{{ form.name.label }}*</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        {% if not form.name.errors %}
                            {{ form.name }}
                        {% else %}
                            <span class="field-error">{{ form.name }}</span>
                            <b class="error-form">{{ form.name.errors }}</b>
                        {% endif %}
                    </div>
				</div>

                <div class="row margin-top-8">
                    <div class="col-md-2 right">
                        <div class="form-group {% if form.description.errors %}has-error{% endif %}">
                            <label class="control-label font-normal">{{ form.description.label }}</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        {% if not form.description.errors %}
                            {{ form.description }}
                        {% else %}
                            <span class="field-error">{{ form.name }}</span>
                            <b class="error-form">{{ form.description.errors }}</b>
                        {% endif %}
                    </div>
				</div>

                <div class="row margin-top-15">
                    <div class="col-md-2 right">
                        <div class="form-group {% if form.purpose.errors %}has-error{% endif %}">
                            <label class="control-label font-normal">{{ form.purpose.label }}</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        {% if not form.purpose.errors %}
                            {{ form.purpose }}
                        {% else %}
                            <span class="field-error">{{ form.purpose }}</span>
                            <b class="error-form">{{ form.purpose.errors }}</b>
                        {% endif %}
                    </div>
				</div>

                <div class="row margin-top-15">
                    <div class="col-md-2 right">
                        <div class="form-group {% if form.resolution.errors %}has-error{% endif %}">
                            <label class="control-label">{{ form.resolution.label }}*</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        {% if not form.resolution.errors %}
                            {{ form.resolution }}
                        {% else %}
                            <span class="field-error">{{ form.resolution }}</span>
                            <b class="error-form">{{ form.resolution.errors }}</b>
                        {% endif %}
                    </div>

                    <div class="col-md-2 right">
                        <div class="form-group {% if form.directory_path.errors %}has-error{% endif %}">
                            <label class="control-label">{{ form.directory_path.label }}*</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        {% if not form.directory_path.errors %}
                            {{ form.directory_path }}
                        {% else %}
                            <span class="field-error">{{ form.directory_path }}</span>
                            <b class="error-form">{{ form.directory_path.errors }}</b>
                        {% endif %}
                    </div>
                    <div class="col-md-6 col-md-offset-6">
                        <span id="helpBlock" class="help-block">
                            {{ form.directory_path.help_text }}
                        </span>
                    </div>
				</div>


                <div class="row margin-top-15">
                    <div class="col-md-2 right">
                        <div class="form-group">
                            <label class="control-label font-normal">Select Card Item</label>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <select class="form-control" id="carditem_all" name="card-item-all" size="10">
                            {% for card in cards_item %}
                                <option value="{{ card.id }}">{{ card }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-3 right">
                        <div class="form-group">
                            <label class="control-label font-normal">Order Card Item</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="number" class="form-control" id="order_carditem" name="order-card-item" value="0" min="0" max="1000">
                    </div>
				</div>

                <div class="row margin-top-15">
                    <div class="col-md-3 col-md-offset-9">
                        <button type="button" id="add_carditem" name="add_button" class="btn btn-success margin-top-20 float-right btn-block" onclick="addRunCardItem()">
                            Add Card Item
                        </button>
                    </div>
				</div>

                <div class="row margin-top-15">
                    <div class="col-md-3 right">
                        <div class="form-group">
                            <label class="control-label font-normal">Selected Card Items</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Card Item</th>
                                    <th>Order</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="row margin-top-50">
                    <div class="col-md-4">
                        <a class="btn btn-default btn-block" href="{% url 'run_setup' %}" role="button">
                            Cancel
                        </a>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" name="save_update_button" class="btn btn-primary btn-block">
                            Save and continue editing
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" name="save_button" class="btn btn-primary btn-block">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}
