{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}
{{ title }}
{% endblock title %}

{% block status_message %}
    {% if form.errors %}
        Please, correct the following errors!
    {% endif %}
{% endblock status_message %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'run_update' run_base.id %}" method="post"
                enctype="multipart/form-data" role="form" class="form-horizontal">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-2 right">
                        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                            <label class="control-label">{{ form.name.label }}*</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        {% if form.name.errors %}
                            <b class="error-form">{{ form.name.errors }}</b>
                        {% endif %}
                        {{ form.name }}
                    </div>
				</div>

                <div class="row margin-top-8">
                    <div class="col-md-2 right">
                        <div class="form-group {% if form.description.errors %}has-error{% endif %}">
                            <label class="control-label">{{ form.description.label }}</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        {% if form.description.errors %}
                            <b class="error-form">{{ form.description.errors }}</b>
                        {% endif %}
                        {{ form.description }}
                    </div>
				</div>

                <div class="row margin-top-15">
                    <div class="col-md-2 right">
                        <div class="form-group {% if form.purpose.errors %}has-error{% endif %}">
                            <label class="control-label">{{ form.purpose.label }}</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        {% if form.purpose.errors %}
                            <b class="error-form">{{ form.purpose.errors }}</b>
                        {% endif %}
                        {{ form.purpose }}
                    </div>
				</div>

                <!--<div class="row margin-top-15">-->
                    <!--<div class="col-md-2 right">-->
                        <!--<div class="form-group {% if form.card_sequence.errors %}has-error{% endif %}">-->
                            <!--<label class="control-label">{{ form.card_sequence.label }}</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                        <!--{% if form.resolution.errors %}-->
                            <!--<b class="error-form">{{ form.card_sequence.errors }}</b>-->
                        <!--{% endif %}-->
                        <!--{{ form.card_sequence }}-->
                    <!--</div>-->
				<!--</div>-->

                <div class="row margin-top-15">
                    <div class="col-md-2 right">
                        <div class="form-group {% if form.directory_path.errors %}has-error{% endif %}">
                            <label class="control-label">{{ form.resolution.label }}*</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        {% if form.resolution.errors %}
                            <b class="error-form">{{ form.resolution.errors }}</b>
                        {% endif %}
                        {{ form.resolution }}
                    </div>

                    <div class="col-md-2 right">
                        <div class="form-group {% if form.directory_path.errors %}has-error{% endif %}">
                            <label class="control-label">{{ form.directory_path.label }}*</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        {% if form.directory_path.errors %}
                            <b class="error-form">{{ form.directory_path.errors }}</b>
                        {% endif %}
                        {{ form.directory_path }}
                        <span id="helpBlock" class="help-block">
                            {{ form.directory_path.help_text }}
                        </span>
                    </div>
				</div>

                <div class="row margin-top-15">
                    <div class="col-md-2 right">
                        <div class="form-group">
                            <label class="control-label">Date Created</label>
                        </div>
                    </div>
                    <div class="col-md-4 margin-top-8">
                        {{ run_base.date_created|date:"d/m/Y" }}
                    </div>

                    <div class="col-md-2 right">
                        <div class="form-group">
                            <label class="control-label">Last Modified</label>
                        </div>
                    </div>
                    <div class="col-md-4 margin-top-8">
                        {{ run_base.date_modified|date:"d/m/Y" }}
                    </div>
				</div>

                <div class="row margin-top-15">
                    <div class="col-md-2 right">
                        <div class="form-group">
                            <label class="control-label">Author</label>
                        </div>
                    </div>
                    <div class="col-md-4 margin-top-8">
                        {{ run_base.author }}
                    </div>
				</div>

                <div class="row margin-top-50">
                    <div class="col-md-3">
                        <button type="submit" name="cancel_button" class="btn btn-default btn-block">
                            Cancel
                        </button>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-default btn-block" href="{% url 'audit_history' run_base.id %}" role="button">
                            View Audit History
                        </a>
                    </div>
                    <!--<div class="col-md-3">-->
                        <!--<a class="btn btn-default btn-block" href="{% url 'card_sequence' run_base.id %}" role="button">-->
                            <!--Edit Run Details-->
                        <!--</a>-->
                    <!--</div>-->
                    <div class="col-md-3">
                        <button type="submit" name="edit_run_details_button" class="btn btn-primary btn-block">
                            Edit Run Details
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" name="save_button" class="btn btn-primary btn-block">
                            Save
                        </button>
                    </div>
				</div>
            </form>
        </div>
    </div>
{% endblock content %}
