{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form class="form-modal" action="{% url 'run_progress' %}" method="post" enctype="multipart/form-data"
          role="form" class="form-horizontal">
        {% csrf_token %}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Run ID</th>
                        <th>Run</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Autor Execute</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for run in runs %}
                        <tr>
                            <!--<td><input type="radio" name="run_progress" value="{{ run.id }}"></td>-->
                            <td><input type="checkbox" name="run_progress" value="{{ run.id }}"></td>
                            <td>{{ run.id }}</td>
                            <td>{{ run.run_base }}</td>
                            <td>{{ run.run_date|date:"d/m/Y" }}</td>
                            <td>{{ run.state }}</td>
                            <td>{{ run.user }}</td>
                            <td>
                                <a href="{% url 'run_details' run.id %}">
                                    <img class="" src="{% static 'img/details_18.png' %}"/>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- pagination -->
            {% include 'paginations.html' %}
            <!-- end pagination -->

            <div class="col-md-4 col-md-offset-8">
                <button type="button" class="btn btn-danger btn-block check-delete">
                    Delete
                </button>
            </div>

            <!-- Modal Check Delete Items -->
            {% include '_modal_check_delete_items.html' %}
            <!-- End Modal Check Delete Items -->
        </form>
    </div>
</div>
{% endblock content %}