{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="{% url 'run_progress' %}" method="post" enctype="multipart/form-data"
          role="form" class="form-horizontal">
        {% csrf_token %}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Run ID</th>
                        <th>Run</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for run in runs %}
                        <tr>
                            <td><input type="radio" name="run_progress" value="{{ run.id }}"></td>
                            <td>{{ run.id }}</td>
                            <td>{{ run.run_base }}</td>
                            <td>{{ run.run_date|date:"d/m/Y" }}</td>
                            <td>{{ run.state }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="col-md-4">
                <a class="btn btn-default btn-block" href="{% url 'index' %}" role="button">
                    Back to Main Menu
                </a>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <button type="submit" name="save_button" class="btn btn-primary btn-block">
                    Details
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}