{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal form-modal" action="{% url 'run_setup' %}" method="post" enctype="multipart/form-data"
                  role="form">
                {% csrf_token %}
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Name</th>
                            <th>Autor</th>
                            <th>Date created</th>
                            <th>Date modified</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for run_base in run_bases %}
                        <tr>
                            <td><input type="checkbox" name="run_select" value="{{ run_base.id }}" class="select_item"></td>
                            <td class="run-base-name" value="{{ run_base.name }}">{{ run_base.name }}</td>
                            <td>{{ run_base.author }}</td>
                            <td>{{ run_base.date_created|date:"d/m/Y" }}</td>
                            <td>{{ run_base.date_modified|date:"d/m/Y" }}</td>
                            <td>
                                <a href="{% url 'run_update' run_base.id %}" data-toggle="tooltip" data-placement="top" title="Edit">
                                    <img src="{% static 'img/edit-18.png' %}" title="Run edit" />
                                </a>
                                <!-- <button class="btn del-btn check-cur-delete" type="button" name="del_current_btn" value="{{ run_base.id }}">
                                    <img src="{% static 'img/delete-18.png' %}"/>
                                </button> -->
                                <button class="btn btn-img run-copy" type="submit" name="copy_btn" value="{{ run_base.id }}"
                                    data-toggle="tooltip" data-placement="top" title="Copy">
                                        <img src="{% static 'img/copy-18.png' %}"/>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- pagination -->
                {% include 'paginations.html' %}
                <!-- end pagination -->

                <div class="row margin-top-50">
                    <div class="col-md-4 col-md-offset-4">
                        <a class="btn btn-primary btn-block" href="{% url 'new_run' %}" role="button">
                            New Run
                        </a>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-danger btn-block check-delete">
                            Delete
                        </button>
                    </div>
                </div>

                <!-- Modal Check Delete Items -->
                {% include '_modal_check_delete_items.html' %}
                <!-- End Modal Check Delete Items -->
            </form>
        </div>
    </div>
{% endblock content %}
