{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'satellite' %}" method="post" enctype="multipart/form-data"
                  role="form" class="form-horizontal">
                {% csrf_token %}
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for satellite in satellites %}
                            <tr>
                                <td><input type="checkbox" name="satellite_select" value="{{ satellite.id }}"></td>
                                <td>{{ satellite.name }}</td>
                                <td>
                                    <a href="{% url 'satellite_edit' satellite.id %}" role="button">
                                        <img class="" src="{% static 'img/edit-18.png' %}"/>
                                    </a>
                                    <button class="btn del-btn" type="submit" name="del_current_btn" value="{{ satellite.id }}">
                                        <img src="{% static 'img/delete-18.png' %}"/>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- pagination -->
                {% include 'paginations.html' %}
                <!-- end pagination -->

                <div class="row margin-top-50">
                    <div class="col-md-4 col-md-offset-4">
                        <a class="btn btn-primary btn-block" href="{% url 'satellite_add' %}" role="button">
                            New Satellite
                        </a>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" name="delete_button" class="btn btn-danger btn-block" value="delete">
                            Delete Satellites
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}