{% extends "base.html" %}
{% load static from staticfiles %}

<!--{% block title-form %}{{ title }}{% endblock title-form %}-->
<div class="row">
    <div class="col-md-12">
        {% block title %}{{ title }}{% endblock title %}
    </div>
</div>

{% block content %}
<div class="row center">
    <form action="{% url 'upload_file' %}" enctype="multipart/form-data" role="form"
          class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="col-md-12 center">
            <div class="form-group upload-button center">
                {{ form.test_data }}
                <p class="help-block font-size-12">
                    For test data upload please use text files
                </p>
                {% if form.test_data.errors %}
                    <b class="error-form">{{ form.test_data.errors }}</b>
                {% endif %}
            </div>
        </div>

        <div class="col-md-12">
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            <button type="submit" id="load" name="load_button" class="btn btn-primary">Load</button>
        </div>
    </form>
</div>
{% endblock content %}
