{% load static from staticfiles %}

<div class="row margin-top-15">
    <div class="col-md-1 right">
        <div class="form-group {% if form.name.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.name.label }}*</label>
        </div>
    </div>
    <div class="col-md-3">
        {% if not form.name.errors %}
            {{ form.name }}
        {% else %}
            <span class="field-error">{{ form.name }}</span>
            <b class="error-form">{{ form.name.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-1 right">
        <div class="form-group {% if form.lut_file.errors %}has-error{% endif %}">
            <label class="control-label">{{ form.lut_file.label }}*</label>
        </div>
    </div>
    <div class="col-md-3">
        {% if not form.lut_file.errors %}
            {{ form.lut_file }}
        {% else %}
            <span class="field-error">{{ form.lut_file }}</span>
            <b class="error-form">{{ form.lut_file.errors }}</b>
        {% endif %}
    </div>

    {% if item_id_1 %}
        <div class="col-md-2 left">
            <button class="btn del-btn check-cur-delete" type="button" name="update_btn" value="update"  data-toggle="tooltip" data-placement="top" title="Update" onclick="clickUpdate();">
                <img src="{% static 'img/reload-24.png' %}"/>
            </button>
        </div>
    {% endif %}
</div>

<div class="row margin-top-15">
    <div class="col-md-1 right">
        <div class="form-group {% if form.legend.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.legend.label }}</label>
        </div>
    </div>
    <div class="col-md-2">
        {% if not form.legend.errors %}
            {{ form.legend }}
        {% else %}
            <span class="field-error">{{ form.legend }}</span>
            <b class="error-form">{{ form.legend.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-1 right">
        <div class="form-group {% if form.units.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.units.label }}</label>
        </div>
    </div>
    <div class="col-md-2">
        {% if not form.units.errors %}
            {{ form.units }}
        {% else %}
            <span class="field-error">{{ form.units }}</span>
            <b class="error-form">{{ form.units.errors }}</b>
        {% endif %}
    </div>

    <div class="col-md-1 right">
        <div class="form-group {% if form.max_val.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.max_val.label }}</label>
        </div>
    </div>
    <div class="col-md-2">
        {% if not form.max_val.errors %}
            {{ form.max_val }}
            <p class="help">{{ form.max_val.help_text }}</p>
        {% else %}
            <p class="help">{{ form.max_val.help_text }}</p>
            <span class="field-error">{{ form.max_val }}</span>
            <b class="error-form">{{ form.max_val.errors }}</b>
        {% endif %}  

    </div>

    <div class="col-md-1 right">
        <div class="form-group {% if form.val_scale.errors %}has-error{% endif %}">
            <label class="control-label font-normal">{{ form.val_scale.label }}</label>
        </div>
    </div>
    <div class="col-md-2">
        {% if not form.val_scale.errors %}
            {{ form.val_scale }}
            <p class="help">{{ form.val_scale.help_text }}</p>
        {% else %}
            <p class="help">{{ form.val_scale.help_text }}</p>
            <span class="field-error">{{ form.val_scale }}</span>
            <b class="error-form">{{ form.val_scale.errors }}</b>
        {% endif %}
    </div>
</div>

<div class="row margin-top-50">
    <div class="col-md-2 col-md-offset-4">
        <button type="submit" name="cancel_button" class="btn btn-default btn-block">Cancel</button>
    </div>
    <div class="col-md-4">
        <button type="submit" name="save_and_another_button" class="btn btn-primary btn-block">Save and another</button>
    </div>
    <div class="col-md-2">
        <button type="submit" name="save_button" class="btn btn-primary btn-block">Save</button>
    </div>
</div>

<!-- Modal Update -->
{% include '_modal_update.html' %}
<!-- End Modal Update -->
