{% extends "base_customer.html" %}
{% load static from staticfiles %}
{% load php %}

{% block content_customer %}
	{% if error_message %}
		<h3>{{ error_message }}</a></h3>
	{% else %}
		<form class="form-modal" id="customer_section" action="{% url 'customer_section' %}" method="post" enctype="multipart/form-data" role="form" class="form-horizontal">
		{% csrf_token %}

			<!-- Draw Menu -->
			<div class="row margin-top-20 ">
				<div class="col-md-4 right">
					<button type="button" class="btn btn-default" onclick="appliedMarkers();"><img class="img-draw" src="{% static 'img/map-marker-plus.png' %}" alt="hand" title="Applied Markers" class="area-draw"></button>
					<button type="button" class="btn btn-default" onclick="drawPoligon();"><img class="img-draw" src="{% static 'img/vector-polygon.png' %}" alt="vector polygon" title="Draw a Poligon" class="area-draw"></button>
					<button type="button" class="btn btn-default" onclick="removePoligon();"><img class="img-draw" src="{% static 'img/map-marker-off.png' %}" alt="hand" title="Remove Poligon" class="area-draw"></button>
					<button type="button" class="btn btn-default" onclick="togglePlygonOverlays();"><img class="img-draw" src="{% static 'img/eye-off.png' %}" alt="hide/show" title="Hide/Show a Poligon" class="area-draw"></button>
				</div>

				<div class="col-md-2 left padding-lr-5">
					<div class="row">
						<div class="col-md-12">
							<span id="slider_value">Visibility: 50%</span>
						</div>
						
						<div class="col-md-12">
							<input type="range" id="opacity" min="0" max="100" oninput="setOpacity();" alt="transparency" title="Transparency" value="50"/>
						</div>
					</div>
				</div>

				<!-- GSi Info Data -->
				<div class="col-md-6">
					<select class="form-control" name="select_file_area" id="show_file_arrea" onchange="showFileSelectArea('{{ show_file }}')">
						{% if files_infopanel %}
							{% for file in files_infopanel %}
								<option id="{{ file }}" name="{{ file }}" value="{{ file }}" {% if file == show_file %}selected="selected"{% endif %}>{{ file }}</option>
							{% endfor %}
						{% else %}
							<option id="none_file" name="none_file" value="none_file">No chosen files</option>
						{% endif %}
					</select>
				</div>
				<!-- End GSi Info Data -->
			</div>
			<!-- End Draw Menu -->

			<!-- Google map -->
			<div class="row margin-top-4">
				<div class="col-md-12 col-lg-12 margin-010" id="map-block">
					<!-- [START region_toolbar] -->
					<!-- Add an input button to initiate the toggle method on the overlay. -->
					<div id="floating-panel">
						<input type="button" class="btn btn-default" value="Toggle visibility" onclick="overlay.toggle();"></input>
						<input type="button" class="btn btn-default" value="Toggle DOM attachment" onclick="overlay.toggleDOM();"></input>
					</div>
					<!-- [END region_toolbar] -->

					<!-- GSi MAP -->
					<div id="map"></div>
					<!-- END GSi MAP -->
					
					<!-- GSi User Photo -->
					<div id="user-photo">
						<img src="{% static 'img/anonim.png' %}" class="img-circle circle">
					</div>
					<!-- END GSi User Photo -->

					<!-- GSi LOGO -->
					<div id="gsi-logo">
						<a href="http://www.surfaceintelligence.com/" Target="_blank"><img src="{% static 'img/GSIlogo.jpg' %}" style="cursor: pointer;"></a>
					</div>
					<!-- End GSi LOGO -->

					<!-- GSi Coordinates -->
					<div id="lat-panel">
						<input class="form-control placeholder" type="text" id="latitude" readonly>
					</div>
					<div id="lng-panel">
						<input class="form-control placeholder" type="text" id="longitude" readonly>
					</div>
					<!-- GSi Coordinates -->
					
					<div class="footer">
	                    <span class="padding-top-15">&copy; {{ CURRENT_YEAR }} GSi Web Site</span>
	                </div>
				</div>
			</div>
			<!-- End Google map -->
		</form>

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqRnPthP9_pygDbSG34MDKiJpXQkHm2ws&signed_in=true"></script
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANOITZIFVq0CxUycWsprMslU0sk9ipK5Y&callback=initMap"
  type="text/javascript"></script>
		<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyB4HosogGf9o2-Cnef_SiUR6jZYVszGkGY&sensor=false"></script> -->
		
		<!-- AIzaSyDqRnPthP9_pygDbSG34MDKiJpXQkHm2ws -->
		<!-- AIzaSyANOITZIFVq0CxUycWsprMslU0sk9ipK5Y -->
		
	    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"></script>
		
		<script src="http://www.google.com/jsapi"></script>
		
		<script>
			USGSOverlay.prototype = new google.maps.OverlayView();

			var map;
			var center_map = {lat: {{ cLat }}, lng: {{ cLng }}};

			var coord = [];
			var coord_area = [];
			var markers = [];
			var polygons = [];
			var selectPolygon;
			var selectArea;
			var polygonVisible;
			var mapTypesArr = [];
			var infowindow = new google.maps.InfoWindow();
			// var kml_layer = new google.maps.KmlLayer();
			
			
			// alert('eLat_1: '+{{ eLat_1 }});
			// alert('eLng_1: '+{{ eLng_1 }});
			// alert('eLat_2: '+{{ eLat_2 }});
			// alert('eLng_2: '+{{ eLng_2 }});

			var MY_MAPTYPE_ID = 'mystyle';

			var mapobj = {
				name: "OSM",
				wms: "osm",
				minzoom: 18,
				maxzoom: 0,
				url: "http://tile.openstreetmap.org/",
				copy:"<a href=\"http://www.openstreetmap.org\" target=\"_blank\">Open Street Map</a>",
				visible:true
			};
			mapTypesArr.push(mapobj);
			var mapobj = {
				name: "OSM Cycle",
				wms: "osm",
				minzoom: 18,
				maxzoom: 0,
				url: "http://b.tile.opencyclemap.org/cycle/",
				copy:"<a href=\"http://creativecommons.org/licenses/by-sa/2.0/\">Cycle OSM</a>",
				visible:true
			};
			mapTypesArr.push(mapobj);
			var mapobj = {
				name: "Relief",
				wms: "",
				minzoom: 18,
				maxzoom: 0,
				url: "",
				copy:"<a href=\"http://www.maps-for-free.com/html/about.html\" target=\"_blank\">maps-for-free</a>",
				visible:true
			};
			mapTypesArr.push(mapobj);
			var mapobj = {
				name: "Demis",
				wms: "wms",
				minzoom: 13,
				maxzoom: 1,
				url: "http://www2.demis.nl/wms/wms.ashx?Service=WMS&WMS=BlueMarble&Version=1.1.0&Request=GetMap&Layers=Earth Image,Borders,Coastlines&Format=image/jpeg",
				copy:"WMS demo by Demis",
				visible:true
			};
			mapTypesArr.push(mapobj);
			var mapobj = {
				name: "ROADMAP",
				wms: "",
				minzoom: 13,
				maxzoom: 10,
				url: "",
				copy:"",
				visible:true
			};
			mapTypesArr.push(mapobj);
			var mapobj = {
				name: "SATELLITE",
				wms: "",
				minzoom: 13,
				maxzoom: 10,
				url: "",
				copy:"",
				visible:true
			};
			mapTypesArr.push(mapobj);
			var mapobj = {
				name: "HYBRID",
				wms: "",
				minzoom: 13,
				maxzoom: 10,
				url: "",
				copy:"",
				visible:true
			};
			mapTypesArr.push(mapobj);
			var mapobj = {
				name: "TERRAIN",
				wms: "",
				minzoom: 13,
				maxzoom: 10,
				url: "",
				copy:"",
				visible:true
			};
			mapTypesArr.push(mapobj);

			function initMap() {
				// location.reload();
				var my_styles =  [
					{
						featureType: "road.highway",
						elementType: "geometry",
						stylers: [
								{ visibility: "on" },
								{ hue: "#ff0000" }
						]
					},
					{
						featureType: "water",
						elementType: "geometry",
						stylers: [
							{ visibility: "on" },
							{ hue: "#0800ff" },
							{ lightness: -41 }
						]
					}
				];

				map = new google.maps.Map(document.getElementById('map'), {
					zoom: {{ GOOGLE_MAP_ZOOM }},
					center: center_map,
					mapTypeControl: true,
					mapTypeControlOptions: {
						style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
						mapTypeIds: [
							google.maps.MapTypeId.ROADMAP,
							google.maps.MapTypeId.TERRAIN,
							google.maps.MapTypeId.SATELLITE,
							google.maps.MapTypeId.HYBRID,
							MY_MAPTYPE_ID
						]
					},
				});

				var styledMapOptions = {name: "Road & Water"};
				var jayzMapType = new google.maps.StyledMapType(my_styles, styledMapOptions);

				map.mapTypes.set(MY_MAPTYPE_ID, jayzMapType);
				map.setMapTypeId(google.maps.MapTypeId.SATELLITE);
				//
				
				// START KML *************************************************************************************************************
				
				// Set KML file
				// var url_kml = "{{ kml_path_show }}";
				// var url_kml = "http://indy4.epcc.ed.ac.uk/media/kml/LinearRing.kml";
				
				// var kml = kml_layer(url_kml);
				// kml.setMap(map);
				
				// alert('url_kml: '+url_kml);
				
				// END KML ****************************************************************************************************************

				// var min_marker = new google.maps.Marker({
				//     position: {
				//         'lat': {{ eLat_1 }},
				//         'lng': {{ eLng_1 }}
				//     },
				//     map: map
				// });

				// var max_marker = new google.maps.Marker({
				//     position: {
				//         'lat': {{ eLat_2 }},
				//         'lng': {{ eLng_2 }}
				//     },
				//     map: map
				// });

				var bounds = new google.maps.LatLngBounds(
					new google.maps.LatLng({{ eLat_1 }}, {{ eLng_1 }}),
					new google.maps.LatLng({{ eLat_2 }}, {{ eLng_2 }}));

				// The source to image overlay
				var srcImage = '{{ absolute_url_png_file }}';
				var overlay = new USGSOverlay(bounds, srcImage, map);

				// Show the lat and lng under the mouse cursor.
				// latitude, longitude

				// placeMarkerAndPanTo({{ eLat_1 }}, {{ eLng_1 }});
				// placeMarkerAndPanTo({{ eLat_2 }}, {{ eLng_2 }});

				// Add a listener for the click event.
				// map.addListener('click', showInfoWindow);
				// infoWindow = new google.maps.InfoWindow;

				// Add a listener for the mousemove event.
				map.addListener('mousemove', showCoordinates);

				// infoWindow = new google.maps.InfoWindow;

				// var latDiv = document.getElementById('latitude');
				// var lngDiv = document.getElementById('longitude');
				//
				// map.controls[google.maps.ControlPosition.TOP_CENTER].push(latDiv);
				// map.controls[google.maps.ControlPosition.TOP_CENTER].push(lngDiv);
				// map.addListener('mousemove', function(event) {
				//     latDiv.textContent =
				//         'lat: ' + Math.round(event.latLng.lat());
				//     }
				// );
				// map.addListener('mousemove', function(event) {
				//     lngDiv.textContent =
				//         'lng: ' + Math.round(event.latLng.lng());
				//     }
				// );

			}

			/** @constructor */
			function USGSOverlay(bounds, image, map) {
				// Now initialize all properties.
				this.bounds_ = bounds;
				this.image_ = image;
				this.map_ = map;

				// Define a property to hold the image's div. We'll
				// actually create this div upon receipt of the onAdd()
				// method so we'll leave it null for now.
				this.div_ = null;

				// Explicitly call setMap on this overlay
				this.setMap(map);
			}

			/**
			 * onAdd is called when the map's panes are ready and the overlay has been
			 * added to the map.
			 */
			USGSOverlay.prototype.onAdd = function() {
				var div = document.createElement('div');
				div.style.border = 'none';
				div.style.borderWidth = '0px';
				div.style.position = 'absolute';

				// Create the img element and attach it to the div.
				var img = document.createElement('img');
				img.src = this.image_;
				img.style.width = '100%';
				img.style.height = '100%';
				img.style.opacity = '0.5';
				img.id = 'on_add';
				div.appendChild(img);

				this.div_ = div;

				// Add the element to the "overlayImage" pane.
				var panes = this.getPanes();
				panes.overlayImage.appendChild(this.div_);
			};

			USGSOverlay.prototype.draw = function() {
				// We use the south-west and north-east
				// coordinates of the overlay to peg it to the correct position and size.
				// To do this, we need to retrieve the projection from the overlay.
				var overlayProjection = this.getProjection();

				// Retrieve the south-west and north-east coordinates of this overlay
				// in LatLngs and convert them to pixel coordinates.
				// We'll use these coordinates to resize the div.
				var sw = overlayProjection.fromLatLngToDivPixel(this.bounds_.getSouthWest());
				var ne = overlayProjection.fromLatLngToDivPixel(this.bounds_.getNorthEast());

				// Resize the image's div to fit the indicated dimensions.
				var div = this.div_;
				div.style.left = sw.x + 'px';
				div.style.top = ne.y + 'px';
				div.style.width = (ne.x - sw.x) + 'px';
				div.style.height = (sw.y - ne.y) + 'px';
			};

			USGSOverlay.prototype.onRemove = function() {
				this.div_.parentNode.removeChild(this.div_);
			};

			// [START region_hideshow]
			// Set the visibility to 'hidden' or 'visible'.
			USGSOverlay.prototype.hide = function() {
				if (this.div_) {
					// The visibility property must be a string enclosed in quotes.
					this.div_.style.visibility = 'hidden';
				}
			};

			USGSOverlay.prototype.show = function() {
				if (this.div_) {
					this.div_.style.visibility = 'visible';
				}
			};

			USGSOverlay.prototype.toggle = function() {
				if (this.div_) {
					if (this.div_.style.visibility === 'hidden') {
						this.show();
					} else {
						this.hide();
					}
				}
			};

			// Detach the map from the DOM via toggleDOM().
			// Note that if we later reattach the map, it will be visible again,
			// because the containing <div> is recreated in the overlay's onAdd() method.
			USGSOverlay.prototype.toggleDOM = function() {
				if (this.getMap()) {
					// Note: setMap(null) calls OverlayView.onRemove()
					this.setMap(null);
				} else {
					this.setMap(this.map_);
				}
			};
			// [END region_hideshow]

			function placeMarkerAndPanTo(lat1, lng1) {
				var image = "{% static 'img/circle-12.png' %}";

				var dict = {
					'lat':   lat1,
					'lng': lng1
				}
				coord.push(dict);
				// sendDataToServer(dict);

				var marker = new google.maps.Marker({
					position: dict,
					map: map,
					icon: image
				});
				//marker.setMap(map);
				//map.panTo(marker);
				markers.push(marker);
			}

			// applied markers on the map.
			function appliedMarkers() {
				map.addListener('click', function(e) {
					placeMarkerAndPanTo(e.latLng.lat(), e.latLng.lng());
				});
			}

			// Removes the poligon from the map, but keeps them in the array.
			function removePoligon() {
				if (polygons) {
					for (i in polygons) {
						polygons[i].setMap(null);
					}
				}
				coord = [];
				polygons = [];
				polygonVisible = false;

				// Removes the markers
				removeMarkers();
			}

			// Removes the markers from the map, but keeps them in the array.
			function removeMarkers() {
				// selectPolygon.fillOpacity = 1.0;
				for (var i = 0; i < markers.length; i++) {
					markers[i].setMap(null);
				}
			}
			
			function polygonCenter(poly) {
			    var lowx,
			        highx,
			        lowy,
			        highy,
			        lats = [],
			        lngs = [],
			        vertices = poly.getPath();

    			for(var i=0; i<vertices.length; i++) {
					lngs.push(vertices.getAt(i).lng());
					lats.push(vertices.getAt(i).lat());
    			}

			    lats.sort();
			    lngs.sort();
			    lowx = lats[0];
			    highx = lats[vertices.length - 1];
			    lowy = lngs[0];
			    highy = lngs[vertices.length - 1];
			    center_x = lowx + ((highx-lowx) / 2);
			    center_y = lowy + ((highy - lowy) / 2);
				
			    return (new google.maps.LatLng(center_x, center_y));
  			}

			function drawPoligon() {
				var show_coord = coord;
				
				// Construct the polygon.
				selectPolygon = new google.maps.Polygon({
					paths: coord,
					strokeColor: '#ffffff',
					//strokeOpacity: 0.8,
					strokeWeight: 5,
					fillColor: '#8bc53f',
					fillOpacity: 0.6,
					//editable: true
				});
				selectPolygon.setMap(map);
				polygons.push(selectPolygon);
				polygonVisible = true;
				sendDataToServer(show_coord);
				
				for (n in show_coord){
					for (k in show_coord[n]){
						// alert('NK: '+show_coord[n][k]);
					}
				}
				
				// Add a listener for the click event.
				selectPolygon.addListener('click', showInfoWindow);
				infoWindow = new google.maps.InfoWindow;

				// Add a listener for the mousemove event.
				selectPolygon.addListener('mousemove', showCoordinates);
				infoWindow = new google.maps.InfoWindow;
				
				var center_pol = polygonCenter(selectPolygon);
				coord = [];
				
				// alert('text1: '+coord);
				
				// info window
				var average_distance = Math.pow(3,2);
				var area_sq_m = google.maps.geometry.spherical.computeArea(selectPolygon.getPath().getArray());
				var area_ha = area_sq_m / 10000;
				var tree_count = area_sq_m / average_distance;
				var tree_count_per_area = tree_count / area_ha;
				
				var contentString = '<p class="left"><b>Area Information</b></p>';
				contentString += '<p class="left" name="total_area">Total Area: ' + area_ha.toFixed(4) + ' ha</p>';
				contentString += '<input type="hidden" name="total_area" value="' + area_ha.toFixed(4) + '">'
				
				contentString += '<p class="left" name="tree_count">Tree Count: ' + tree_count.toFixed(4) + ' (units)</p>';
				contentString += '<input type="hidden" name="tree_count" value="' + tree_count.toFixed(4) + '">'
				
				contentString += '<p class="left" name="count_hectare">Tree Count per Hectare: ' + tree_count_per_area.toFixed(4) +'</p>';
				contentString += '<input type="hidden" name="count_hectare" value="' + tree_count_per_area.toFixed(4) + '">'
				
				// contentString += '<p class="left">COORDINATE:</p>';
				// for(n in show_coord) {
				// 	contentString += '<p class="left">(Lat: ' + show_coord[n]['lat'] + '; Lng: ' + show_coord[n]['lng'] + ')</p>';
			    // }
				
				contentString += '<input type="text" class="margin-top-15" placeholder="Enter Area name" name="file_name" size="30"><br>'
				contentString += '<button type="submit" name="save_area" class="btn btn-success btn-block margin-top-15" value="save_area">Save Area</button>';
				contentString += '<button type="button" name="cancel_download_file" class="btn btn-primary btn-block margin-top-15" value="cancel_download_file">Cancel</button>';
				
				infowindow = new google.maps.InfoWindow({content: contentString, position: center_pol});
				infowindow.open(map);
			}

			function showCoordinates(event) {
				var lat = event.latLng.lat();
				var lon = event.latLng.lng();

				document.getElementById('latitude').value = 'Lat: ' + lat.toFixed(6);
				document.getElementById('longitude').value = 'Lng: ' + lon.toFixed(6);
			}

			function showInfoWindow(event) {
				var lat = event.latLng.lat();
				var lon = event.latLng.lng();
				
				var text = 'DBH_10_Krig : 85<br>';
				text += 'DBH_10_dem_Krig : 88<br>';
				text += 'DBH_svar_1000_Krig : 14<br>';
				text += 'DBH_svar_1000_dem_Krig : 11<br>';
				text += 'LossYear : <br>';
				text += 'maskmean_DBH : -9999<br>';
				text += 'mean_CubicTotal : 350<br>';
				text += 'mean_DBH : 116<br>';
				text += 'mean_TPA : 50<br>';
				text += 'mean_Tree_Count : 51<br>';
				text += 'modmean_DBH : -9999<br>';
				
				var contentString = '<b>GSi Polygon</b><br>' +
						'Location:<br>LAT: ' + lat.toFixed(6) + ', LNG:' + lon.toFixed(6) + '<br>';
				contentString += '<p class="left">' + text + '</p>';

				// Replace the info window's content and position.
				infoWindow.setContent(contentString);
				infoWindow.setPosition(event.latLng);

				infoWindow.open(map);
			}

			// function showInfoWindowPolygon(event, msg) {
			// 	alert('MSG: '+msg);
			// 	var lat = event.latLng.lat();
			// 	var lon = event.latLng.lng();
			//
			// 	// Replace the info window's content and position.
			// 	infoWindow.setContent(msg);
			// 	infoWindow.setPosition(event.latLng);
			//
			// 	infoWindow.open(map);
			// }

			function togglePlygonOverlays() {
				if (polygonVisible) {
					if (polygons) {
						for (i in polygons) {
							polygons[i].setMap(null);
							polygonVisible = false;
						}
					}
				} else {
					if (polygons) {
						for (i in polygons) {
							polygons[i].setMap(map);
							polygonVisible = true;
						}
					}
				}
			}

			google.maps.event.addDomListener(window, 'load', initMap);
		</script>
		
		{% if file_tif %}
			{% startphp %}
			{% endphp %}
		{% endif %}
	{% endif %}
{% endblock content_customer %}
