/* body */
/*body {*/
    /*background-image: url(img/background_log.jpg);*/
    /*background-color: #c7b39b;*/
/*}*/

th {
    text-align: center;
}

input[type="file"] {
    display: inline;
}


/* alert */
.alert {
  margin: 10px 0 5px 0;
}

/* placement */
.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

/* alignment */
.float-right {
    float: right;
}

/* indents */
.top-25 {
    top: 25px;
}

.margin-top-4 {
    margin-top: 4px;
}

.margin-top-8 {
    margin-top: 8px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-040 {
    margin-top: -40px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-left-12 {
    margin-left: 20px;
}

.padding-0 {
    padding: 0px;
}

.padding-left-0 {
    padding: 0px 15px 0px 0px;
}

.padding-rigth-0 {
    padding: 0px 0px 0px 15px;
}


/*.btn-block-50 {*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
    /*width: 50%;*/
/*}*/

/* color */
.red-color {
    color: red;
}

.grey-color{
    color: grey;
}

.blue-color-bootstrap {
    color: #265a88;
}

/* main menu */
li.main-menu {
    margin-bottom: 15px;
    padding: 0px;
}

.input-width-35 {
    width: 35%;
}

/* display */
.disabled {
    display: none !important;
}

.visible {
    display: block !important;
}

/* fonts style*/
.font-9 {
    font-size: 9px;
}

.font-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-normal {
    font-weight: 500;
}

/* borders style */
.border-bottom {
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
}

.border-bottom:focus {
    border-color: white;
    box-shadow: 0 0 0px rgba(100, 100, 100, 0.9) inset, 0 0 0px rgba(100, 100, 100, 0.5);
    border-bottom: 1px solid #66afe9;
}

/* search */
.dropdown-search {
    position: relative;
    display: inline-block;
    min-width: 150px;
    /*left: -100px;*/
    left: -17%;
    top: 10px;
}

.search-form {
    border: 0;
    /*border-bottom: 1px solid #ccc;*/
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
    background-color: transparent;
    color: #c1d9ee !important;
}

/* forms log and signup */
.form-password:focus {
    border-color: white;
    box-shadow: 0 0 0px rgba(100, 100, 100, 0.9) inset, 0 0 0px rgba(100, 100, 100, 0.5);
    border-bottom: 1px solid #66afe9;
}

/* pic for forms log and signup */
.img-top-input {
    z-index: 4;
    position: relative;
    display: none;
}

.input-form {
    z-index: 2;
    position: relative;
}

.img-top-input:focus {
    display: block;
}

/* no yelow autofill for google chrome */
input {outline: none;}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* background color */
}

/* main menu style */
.main-menu {
    top: 15px;
    background-image: linear-gradient(to bottom, #337ab7 0px, #265a88 100%);
    background-repeat: repeat-x;
    border-color: #245580;
}

.dropdown-left-0 {
    /*left: -14px;*/
    border-radius: 0px;
    border-color: #fff;
    top: 10px;
}

.dropdown-user {
    left: 24px;
    border-radius: 0px;
    border-color: #fff;
    top: 50px;
}

.brand-logo {
    color: white !important;
    width: 21%;
    text-align: left;
}

.brand-logo:hover {
    color: #c1d9ee !important;
}

.menu-panel {
    background-color: transparent;
}

/* dropdown main menu style */
.right-indent-10 {
    padding-right: 10px;
}

.left-indent-10 {
    padding-left: 10px;
}

.acordion > a {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}

li.li-menu > a, li.active-main-menu > a {
    font-size: 14px;
    background-color: white;

}

div.li-menu > a, div.li-menu > a:hover {
    background-color: white;
}

.active-static-data {
    color: #337ab7 !important;
}

li.li-menu > a, .title {
    color: black;
    padding-right: 0px;  !important;
}

li.active-main-menu > a {
    color: #337ab7 !important;
}

li.active-main-menu, li.active-main-menu a:hover, li.li-menu > a:hover, .title:hover, .li-sub-menu > a:hover {
    background-color: transparent;
    color: #337ab7 !important;
    text-decoration: none;
}

.acordion > a:hover, .li-menu > li > a:hover {
    text-decoration: none !important;
    color: #428bca;
    background-color: transparent;
    background-image: none;
}

.li-menu > li > a > i:hover {
    background-color: transparent !important;
    color: transparent !important;
}

.navbar-main-menu {
    min-height: 50px;
    max-height: 50px;
}

/**/

.dropbtn {
    background-color: transparent;
    color: white;
    /*padding: 15px;*/
    /*margin-top: 15px;*/
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    min-width: 150px;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f9f9f9;*/
    min-width: 200px;
    width: 250px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}

.dropdown-content a, .li-sub-menu > a {
    color: black;
    padding: 8px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: transparent;
    text-decoration: none !important;
    color: #428bca;
    background-image: none;
}

/*.dropdown:hover .dropdown-content {*/
    /*!*display: block;*!*/
/*}*/

.dropdown:hover .dropbtn {
    background-color: transparent;
}

.display-no-table {
    display: table-cell;
}

/* on/off sub menu */
.sub-menu-no-visible ul {
  margin: 0;
  list-style: none;
  padding-left: 20px;
  display: none;
}

.sub-menu-visible ul {
  margin: 0;
  list-style: none;
  padding-left: 20px;
  display: block;
}

/*.sub-menu .title::before {*/
  /*font-size: 80%;*/
  /*color: green;*/
/*}*/

.icon-visible {
    color: black;
    padding-left: 15px;
    padding-right: 0px;
}

.icon-no-visible {
    display: none
}

.title {
    display: block;
    padding: 10px 15px;
    position: relative;

    background-color: transparent;
    /*padding: 15px;*/
    /*margin-top: 15px;*/
    border: none;
    cursor: pointer;
}

.sub-menu.open ul {
  display: block;
}

/*.li-sub-menu-left-30 {*/
    /*padding-left: 55px !important;*/
/*}*/

.li-sub-menu {
    padding-left: 18px !important;
    /*display: block;*/
    /*padding: 8px 15px;*/
    /*position: relative;*/
}

/* user profile */
.user-profile {
    left: 23%;
    top: 7px;
}

.dropbtn-user {
    left: -15px;
    background-color: transparent;
    color: white;
    /*padding: 15px;*/
    /*margin-top: 15px;*/
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown-content-user {
    min-width: 100px;
    width: 136px;
    display: none;
    position: absolute;
}

.dropdown-content-user a {
    color: black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content-user a:hover {
    background-color: transparent;
    text-decoration: none !important;
    color: #428bca;
    background-image: none;
}

.circle {
    border: 3px;
    border-color: white;
    border-style: solid;
    width: 34px;
    height: 34px;
    background-color: #D3D3D3;
}

.del-btn, .del-btn:hover {
    background-color: transparent;
}

/* paginations */
.pagination-black > li > a {
    background-color: #fff;
    border: 0px solid #ddd;
    color: black;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}

.pagination-black > li > a:hover {

}

.no-border {
    border: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-left: 0;
}

/* text for log files */
.text-align-left {
    text-align: left;
    font-size: 12px !important;
}