@font-face {
   font-family: Nirmala;
   src: url(../ufonts/NirmalaS.ttf);
   font-style: normal;
   font-weight: lighter;
   color: #7f3f98;
}

@font-face {
   font-family: Nirmala;
   src: url(../ufonts/NirmalaB.ttf);
   font-style: normal;
   font-weight: bold;
   color: #7f3f98;
}

@font-face {
    font-family: Nirmala;
    src: url(../ufonts/Nirmala.ttf);
    font-style: normal;
    font-weight: normal;
   }

/* body */
body {
    background: url(../img/background_login.png) no-repeat center center fixed;
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -moz-background-size: cover; /* Firefox 3.6+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover;
    font-family: Nirmala !important;
    color: #7f3f98;
}

/* button styles */
.btn-success {
    background-color: #8bc53f !important;
    background-image: none !important;
    border-radius: 0px !important;
    border: 0px !important;
}

/* link styles */
a {
    color: #7f3f98 !important;
    border-bottom: 1px dotted #7f3f98 !important;
    /*text-decoration: underline;*/
}

a:focus, a:hover {
    color: #7f3f98 !important;
    border-bottom: 0px !important;
    text-decoration: none !important;
}

/* input field for the reset password */
#id_email, #id_new_password1, #id_new_password2 {
    min-width: 100% !important;
    border: 1px solid #7f3f98 !important;
    padding-left: 10px;
    height: 34px;
}

/* background registrations */
.reg-form {
    z-index: 5;
}

.background-white {
    top: 100px;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

/* alert */
.alert {
  margin: 10px 0 5px 0;
}

/* alignment */
.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.float-right {
    float: right;
}

/* indents */
.top-25 {
    top: 25px;
}

/* margins "+" */
.margin-top-1 {
    margin-top: 1px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-top-8 {
    margin-top: 8px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

/* padding "+" */
.padding-0 {
    padding: 0px;
}

.padding-left-0 {
    padding: 0px 15px 0px 0px;
}

.padding-rigth-0 {
    padding: 0px 0px 0px 15px;
}

/* display */
.visible {
    display: block !important;
}

/* fonts style*/
.font-9 {
    font-size: 9px;
}

.font-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-normal {
    font-weight: 500;
}

/* borders style */
.border-bottom {
    border: 1px solid #7f3f98 !important;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
    padding-left: 10px;
}

.border-bottom:focus {
    border-color: 2 solid #7f3f98;
    box-shadow: 0 0 0px rgba(100, 100, 100, 0.9) inset, 0 0 0px rgba(100, 100, 100, 0.5);
    /*border-bottom: 1px solid #66afe9;*/
}

/* forms log and signup */
.form-password:focus {
    border-color: 2 solid #7f3f98;
    box-shadow: 0 0 0px rgba(100, 100, 100, 0.9) inset, 0 0 0px rgba(100, 100, 100, 0.5);
    /*border-bottom: 1px solid #66afe9;*/
}

/* no yelow autofill for google chrome */
input {outline: none;}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px white !important; /* background color */
    -webkit-text-fill-color: #7f3f98 !important;
    color: #7f3f98 !important;
}

/* form-control */
.form-control {
    color: #7f3f98 !important;
}
