.alert {
  margin: 10px 0 5px 0;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.float-right {
    float: right;
}

.margin-top-4 {
    margin-top: 4px;
}

.margin-top-8 {
    margin-top: 8px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-040 {
    margin-top: -40px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-left-12 {
    margin-left: 20px;
}

/*.btn-block-50 {*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
    /*width: 50%;*/
/*}*/

.red-color {
    color: red;
}

li.main-menu {
    margin-bottom: 15px;
    padding: 0px;
}

.input-width-35 {
    width: 35%;
}

.disabled {
    display: none;
}

.font-14 {
    font-size: 14px;
}

.font-normal {
    font-style: normal;
}


