/* set user's font */
@font-face {
   font-family: Nirmala;
   src: url(../ufonts/NirmalaS.ttf);
   font-style: normal;
   font-weight: lighter;
   color: #283890;
}

@font-face {
   font-family: Nirmala;
   src: url(../ufonts/NirmalaB.ttf);
   font-style: normal;
   font-weight: bold;
   color: #283890;
}

@font-face {
    font-family: Nirmala;
    src: url(../ufonts/Nirmala.ttf);
    font-style: normal;
    font-weight: normal;
   }

/* body */
body {
    /*background: url(../img/background_main_1.png) no-repeat center center fixed;*/
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -moz-background-size: cover; /* Firefox 3.6+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover;
    font-family: Nirmala !important;
    color: #283890;
}

/* html, body, footer */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

table {
    border-spacing: 8px;
}

/* BLOCK STYLE */
.title-block {
    text-align:  center;
}

.main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -100px 0;
    padding: 0;
}

.footer-row {
    margin-top: 100px;
}

.footer {
    /*position: absolute;*/
    text-align: center;
    /*background-color: #283890;*/
    /*color: #66afe9;*/
    color: #283890;
    height: 30px;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

button,
button:active,
button:focus {
    outline: none!important;
}

/* New style for the fileld for forms */
input, textarea {
    border: 1px solid #283890 !important;
    /*border-bottom: 1px solid #ccc !important;*/
    border-radius: 0 !important;
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;*/
}

input[type="file"] {
    display: none;

    /*display: inline;*/
}

input[type="text"]:disabled {
    background: #fff;
    border: 1px solid #283890 !important;
}

input:focus, textarea:focus {
    background-color: transparent !important;
    border: 1px solid #283890 !important;
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    /*webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.075);*/
}

/*div.upload-button {
    background:url('../img/upload-network.png') no-repeat;

    overflow: hidden;
    width: 195px;
    height: 137px;
    cursor: pointer;

}*/

#opacity {
    border: none !important;
}

/* link styles */
a, .btn-legend {
    color: #283890 !important;
    /*border-bottom: 1px dotted #283890 !important;*/
    /*text-decoration: underline;*/
}

a.a-select, .btn-link {
    color: #283890 !important;
    border-bottom: 1px dotted #283890 !important;
    /*text-decoration: underline;*/
}

.btn:after, .btn:before {
    /*border: none !important;*/
    /*webkit-box-shadow: none !important;*/
    box-shadow: none !important;
    outline: none !important;
}

.no-hover, .no-hover:hover {
    color: #fff !important;
}

.btn-link:hover, .btn-link:focus {
    color: #283890 !important;
    border-bottom: 0px !important;
    text-decoration: none !important;
    box-shadow: none !important;
    outline: none;
}

a:focus, a:hover, .btn-legend {
    color: #283890 !important;
    border-bottom: 0px !important;
    text-decoration: none !important;
}


/* BUTTONS BOOTSTRAP customer section */
.btn-primary {
    background-color: #283890 !important;
    background-image: none !important;
    border-width: 1px;
    border-color: #283890 !important;
    border-radius: 0px !important;
    color: white !important;
}

.btn-success {
    background-color: #8bc53f !important;
    background-image: none !important;
    border-width: 1px;
    border-color: #8bc53f !important;
    border-radius: 0px !important;
    color: white !important;
}

input.btn-default, input.btn-default:hover, input.btn-default:focus {
    background-color: white !important;
    border-radius: 0px !important;
    background-image: none !important;
    color: #8bc53f !important;
    border-color: #8bc53f !important;
}

/*.button-link {
    color: #283890 !important;
    border-bottom: 1px  #283890 !important;
    background-color: transparent !important;
    text-align: left;
    text-decoration: dotted !important;
}

.button-link:focus, .button-link:hover {
    color: #283890 !important;
    border-bottom: 0px !important;
    border-bottom: 1px dotted !important;
    text-decoration: transparent !important;
}*/

/* rows style */
th {
    text-align: center;
}

/* Errors style*/
.errorlist > li {
    list-style-type: none;
    padding-top: 10px;
    margin-left: -25px;
    font-size: 10px;
    color: red;
    text-align: left;
}

.hv-error > ul.errorlist > li {
    text-align: right !important;
}

.field-error {
    background-color: transparent !important;
    border-bottom: 1px solid red !important;
}

.field-success {
    background-color: transparent !important;
    /*border-bottom: 1px solid green !important;*/
    color: #555 !important;
}

/* Uploads file */
.upload-file {
    position: relative !important;
    left: 18% !important;
    width: 50% !important;
    border-style: none none !important;
    box-shadow: 0 0 0px rgba(0,0,0,0) !important;
    border: none !important;
    height: auto;
    /*float: left;*/
    /*text-align: center !important;*/
    /*padding: 0;*/
}

.upload-button {
    margin: 0px auto;
  /*margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;*/
}

/* alert */
.alert {
  margin: 10px 0 5px 0;
}

/* placement */
.center {
    text-align: center !important;
}

.right {
    text-align: right;
}

.left {
    text-align: left !important;
}

/* alignment */
.float-right {
    float: right;
}

/* indents */
.top-25 {
    top: 25px;
}

/* Margins "+" */
.margin-top-4 {
    margin-top: 4px !important;
}

.margin-top-6 {
    margin-top: 6px !important;
}

.margin-top-8 {
    margin-top: 8px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-25 {
    margin-top: 25px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-35 {
    margin-top: 35px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.margin-bottom-4 {
    margin-bottom: 4px !important;
}

.margin-bottom-6 {
    margin-bottom: 6px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-left-4 {
    margin-left: 4px !important;
}

.margin-left-6 {
    margin-left: 6px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-left-50 {
    margin-left: 50px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

/* Margins "-" */
.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-07 {
    margin-top: -7px !important;
}

.margin-top-015 {
    margin-top: -15px !important;
}

.margin-top-020 {
    margin-top: -20px !important;
}

.margin-top-030 {
    margin-top: -30px !important;
}

.margin-top-040 {
    margin-top: -40px !important;
}

.margin-010 {
    margin-left: -10px !important;
}

.margin-left-010 {
    margin-left: -10px !important;
}

.margin-left-05 {
    margin-left: -5px !important;
}

.margin-bottom-015 {
    margin-bottom: -15px !important;
}

/* Paddings "+" */
.padding-0 {
    padding: 0;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-left-0 {
    padding: 0 15px 0 0;
}

.padding-rigth-0 {
    padding: 0 0 0 15px;
}

/* colors */
.red-color {
    color: red;
}

.grey-color{
    color: grey;
}

.blue-color-bootstrap {
    color: #265a88;
}

/* main menu */
li.main-menu {
    margin-bottom: 15px;
    padding: 0;
}

.input-width-35 {
    width: 35%;
}

/* display */
.disabled {
    display: none !important;
}

.visible {
    display: block !important;
}

/* fonts style*/
.font-9 {
    font-size: 9px;
}

.font-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-normal {
    font-weight: 500;
}

.font-color-grey {
    color: #ccc !important;
    -moz-color: #ccc !important;
}

/* search */
.dropdown-search {
    position: relative;
    display: inline-block;
    min-width: 150px;
    /*left: -100px;*/
    left: -17%;
    top: 10px;
}

.search-form {
    border: 0 !important;
    /*border-bottom: 1px solid #ccc;*/
    border-radius: 0 !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset !important;
    background-color: transparent !important;
    color: #c1d9ee !important;
}

/* forms log and signup */
.form-password:focus {
    border-color: white;
    box-shadow: 0 0 0 rgba(100, 100, 100, 0.9) inset, 0 0 0 rgba(100, 100, 100, 0.5);
    border-bottom: 1px solid #66afe9;
}

/* pic for forms log and signup */
.img-top-input {
    z-index: 4;
    position: relative;
    display: none;
}

.input-form {
    z-index: 2;
    position: relative;
}

.img-top-input:focus {
    display: block;
}

/* no yelow autofill for google chrome */
input {
    outline: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px white !important; /* background color */
    -webkit-text-fill-color: #283890 !important;
    color: #283890 !important;
}

/* main menu style */
.main-menu {
    /*top: 15px;*/
    /*background-image: linear-gradient(to bottom, #337ab7 0px, #265a88 100%);*/
    background-repeat: repeat-x;
    border-color: #283890;
    background-image: none !important;
    background-color: #283890 !important;
    margin-right: -30px;
    margin-left: -30px;
    padding-left: 30px;
    /*padding-right: 5px;*/
}

.dropdown-left-0 {
    /*left: -14px;*/
    border-radius: 0;
    border-color: #fff;
    top: 10px;
}

.dropdown-user {
    left: 24px;
    border-radius: 0;
    border-color: #fff;
    top: 50px;
}

.brand-logo {
    color: white !important;
    width: 21%;
    text-align: left;
}

#titleUser {
    color: #80d0f4;
}

.brand-logo:hover {
    color: #80d0f4 !important;
}

.menu-panel {
    background-color: transparent;
}

/* dropdown main menu style */
.right-indent-10 {
    padding-right: 10px;
}

.left-indent-10 {
    padding-left: 10px;
}

.acordion > a {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}

li.li-menu > a, li.active-main-menu > a {
    font-size: 14px;
    color: #283890 !important;
    /*background-color: #80d0f4 !important;*/

}

.btn-legend {
    text-decoration: none !important;
    border-bottom: none !important;
}

div.li-menu > a, .btn-legend {
    color: #283890 !important;
    background-color: white !important;
}

div.li-menu > a:hover, .btn-legend:hover {
    color: #283890 !important;
    background-color: #80d0f4 !important;
}

.active-static-data {
    color: #283890 !important;
}

li.li-menu > a, .title {
    color: #283890;
    padding-right: 0;  !important;
}

li.active-main-menu > a {
    color: #283890 !important;
    /*background-color: #80d0f4 !important;*/
    background-color: #80d0f4 !important;
    border-radius: 0px !important;
}

li.active-main-menu a:hover, li.li-menu > a:hover, .li-sub-menu > a:hover, .title:hover {
    background-color: #80d0f4 !important;
    color: #283890 !important;
    text-decoration: none;
}

li.active-main-menu, li.active-main-menu a:hover, li.li-menu > a:hover, .title:hover, .li-sub-menu > a:hover {
    /*background-color: transparent;*/
    /*background-color: #80d0f4 !important;*/
    color: #283890 !important;
    text-decoration: none;
}

.acordion > a:hover, .li-menu > li > a:hover {
    text-decoration: none !important;
    color: #283890;
    background-color: transparent;
    background-image: none;
}

.li-menu > li > a > i:hover {
    background-color: transparent !important;
    color: transparent !important;
}

.navbar-main-menu {
    min-height: 50px;
    max-height: 50px;
}

/*dropbtn*/
.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    min-width: 150px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    width: 250px;
}

.dropdown-content a, .li-sub-menu > a {
    color: black;
    padding: 8px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: transparent;
    text-decoration: none !important;
    color: #283890;
    background-image: none;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}

.display-no-table {
    display: table-cell;
}

/* on/off sub menu */
.sub-menu-no-visible ul {
  margin: 0;
  list-style: none;
  padding-left: 20px;
  display: none;
}

.sub-menu-visible ul {
  margin: 0;
  list-style: none;
  padding-left: 20px;
  display: block;
}

.icon-visible {
    color: black;
    padding-left: 15px;
    padding-right: 0;
}

.icon-no-visible {
    display: none
}

.title {
    display: block;
    padding: 10px 15px;
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sub-menu.open ul {
  display: block;
}

.li-sub-menu {
    padding-left: 18px !important;
}

/* user profile */
.user-profile {
    z-index: 1000;
    left: 20%;
    top: 7px;
}

.dropbtn-user {
    left: -15px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown-content-user {
    min-width: 100px;
    width: 256px;
    display: none;
    position: absolute;
}

.dropdown-content-user a {
    color: black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content-user a:hover {
    background-color: transparent;
    text-decoration: none !important;
    color: #283890;
    background-image: none;
}

.circle {
    border: 3px;
    border-color: white;
    border-style: solid;
    width: 34px;
    height: 34px;
    background-color: #D3D3D3;
}

.del-btn, .btn-img, .del-btn:hover {
    background-color: transparent;
}

/* paginations */
.pagination-black > li > a {
    background-color: #fff;
    border: 0 solid #ddd;
    color: black;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}

.pagination>.active>a {
    background-color: #283890;
    border-color: #283890;
    color: white !important;
}

.pagination-black > li > a:hover {

}

.no-border {
    border: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
}

/* text for log files */
.text-align-left {
    text-align: left;
    font-size: 12px !important;
}

/* link for view result */
.result {
    color: black;
}

.result:hover {
    text-decoration: none;
}

/* modal */
.border-top-0 {
    border-top: none;
}

.border-bottom-0 {
    border-bottom: none;
}

/* disabled DoY*/
.disabled-doy {
    color: #cccccc;
}

.visible-doy {
    color: #333;
}

/* input for new Run */
.non-input {
    border-style: none !important;
    fill: none;
    background-color: transparent;
}

.config-file {
    background-color: transparent !important;
}

/* Select styles */
.form-control {
    background: transparent !important;
    /*border: 1px solid #283890 !important;*/
    border-radius: 0px !important;
    color: #283890 !important;
}

.form-control:active, .form-control:focus {
    background: transparent !important;
    border: 1px solid #283890 !important;
    border-radius: 0px !important;
    color: #283890 !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.45);
}

.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.checkboxes {
    display: none;
    border: 1px #dadada solid;
}

.checkboxes label {
    display: block;
}

.checkboxes label:hover {
    background-color: #66afe9;
}

.select-border-bottom-grey {
    border-bottom: 2px solid #ccc;
}

.select-color-grey {
    color: #999;
}

input[type="checkbox"]:checked + span {
  color: #265a88;
}

.display-show {
    display: true;
}

.gsi-logo {
    padding: 5px;
    z-index: 0;
    position: absolute;
    left: 76px;
    bottom: 0px;
    margin-bottom: 4%;
}

.placeholder {
    background-color: #fff !important;
}

.placeholder:focus {
    background-color: #fff !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-lr-5 {
    padding-right: -10px !important;
    padding-left: 5px !important;
}

/* goggle map menu */
.area-draw {
    align-self: center;
    align-items: center;
    text-align: center;
    margin-left: -10px;
}

.img-draw {
    align-items: center;
}

#floating-panel {
  position: absolute;
  top: 7px;
  left: 450px;
  z-index: 5;
  /*background-color: #fff;*/
  padding: 2px;
  /*border: 1px solid #999;*/
  text-align: center;
  /*line-height: 30px;*/
  /*padding-left: 10px;*/
}

#user-photo {
    position: absolute;
    float: right;
    top: 10px;
    left: 95%;
    z-index: 5;
    /*padding: 2px;*/
    /*border: 1px solid #999;*/
    /*text-align: center;*/
    /*line-height: 30px;*/
    /*padding-left: 10px;*/
}

#gsi-logo {
  position: absolute;
  bottom: 40px;
  left: 100px;
  z-index: 5;
  background-color: #fff;
  /*padding: 5px;*/
  text-align: center;
  /*line-height: 30px;*/
  padding-left: 10px;
}

#lat-panel {
  position: absolute;
  bottom: 40px;
  left: 220px;
  z-index: 3;
  /*background-color: #fff;*/
  /*padding: 2px;*/
  text-align: left;
  /*line-height: 10px;*/
  padding-left: 10px;
  width: 150px;
}

#lng-panel {
  position: absolute;
  bottom: 40px;
  left: 380px;
  z-index: 3;
  /*background-color: #fff;
  padding: 2px;*/
  text-align: left;;
  /*line-height: 10px;*/
  padding-left: 10px;
  width: 150px;
}

/*#user-photo {*/
    /*position: absolute;*/
    /*bottom: 1160px;*/
    /*bottom: 96%;
    left: 94%;
    z-index: 3;*/
    /*background-color: #fff;*/
    /*padding: 2px;*/
    /*text-align: right;;
    line-height: 10px;*/
    /*padding-left: 440px;*/
    /*padding-left: 94%;*/
    /*width: 150px;*/
/*}*/

.background-fill-grey {
    background-color: #283890;
    color: white;
    padding: 8px;
    /*padding-top: 8px;*/
    /*padding-bottom: 8px;*/
    /*padding-left: 5px;*/
}

/* gsi iframe for gsi maps */
.border-none {
    border-width: 0;
}

hr {
    border: none;
    background-color: #9fa1a3;
    color: #9fa1a3;
    height: 1px;
}

.border-1 {
    border: 1px solid #9fa1a3;
}

#cke_id_content {
    width: 770px !important;
}

#map {
    height: 1200px !important;
    z-index: 0;

    /*height: 100%;*/
    /*float: left;
    height: 100%;
    width: 100% !important;
    margin: 0px;*/
    /*width: 890px;*/
    /*max-width: 101%;*/
}

#map-block {
    border-color: #283890 #283890;
}

/* Style for the customer section */
#col1 {
    /*width:300px;*/
    z-index: 10;
    margin-top: -50px;
    /*height: 1800px;*/
    height: 1285px !important;
    float: left;
    /*box-shadow: inset -5px 0 0 #283890;*/

    -webkit-box-shadow: 6px 0px 0px 0px #283890;
    -moz-box-shadow: 6px 0px 0px 0px #283890;
    box-shadow: 6px 0px 0px 0px #283890;
}

#col2 {
    /*width:300px;*/
    margin-top: -50px;
    height: 1285px;
    float: right;
    /*box-shadow: inset 5px 0 0 #283890;*/

    -webkit-box-shadow: -6px 0px 0px 0px #283890;
    -moz-box-shadow: -6px 0px 0px 0px #283890;
    box-shadow: -6px 0px 0px 0px #283890;
}

.main-menu-customer {
    background-repeat: repeat-x;
    border-color: #283890;
    background-image: none !important;
    background-color: #66afe9 !important;
    margin-right: -30px;
    margin-left: -30px;
    padding-left: 30px;

    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #283890;
}

.purple {
    color: #283890;
}

.left-30 {
    margin-left: 50px;
    wight: 200px;
}

.white {
    color: white !important;
}

/* Nav Bar Brand */
.my-navbar-brand {
    min-width: 550px !important;
    text-align: left !important;
}

.dataset-select {
    max-width: 200px;
}

.label-dataset {
    max-width: 50px;
}

/* The Modal (background): You can not draw a polygon without selecting a dataset */
.modal-draw {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 9; /* Sit on top */
    left: 80px;
    top: 60px;
    width: 45%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */*/
    /*background-color: rgba(0,0,0,0.1); /* Black w opacity */*/
    /*padding: 20px !important;*/
    /*margin: 20px !important;*/
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px !important;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #404040;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* TABs BOOTSTRAP customer section */
.nav-tabs > li > a.a-tab, .nav-tabs > li > a.a-tab:hover, .nav-tabs > li > a.a-tab:focus {
    margin: 1px !important;
    padding: 6px !important;
    border: 1px solid #283890 !important;
    /*border-style: solid;*/
    /*border-color: #283890;*/
    /*border-width:0.5px;*/
    border-bottom: 1px !important;
    background-color: #fff !important;
    /*;*/

}

.nav > li > a.a-tab, .nav > li > a.a-tab:hover, .nav > li > a.a-tab:focus {
    margin: 1px !important;
    padding: 6px !important;
    border: 1px solid #283890 !important;
    /*border-style: solid;*/
    /*border-color: #283890;*/
    /*border-width:0.5px;*/
    border-bottom: 1px !important;
    background-color: #fff !important;
    width: auto !important;
    /*;*/

}

.nav-tabs > li > a.a-tab:hover, .nav-tabs > li > a.a-tab:focus {
    background-color: #66afe9 !important;
    border-bottom: 1px !important;
    /*border-bottom-color: transparent !important;*/
}

.nav > li > a.a-tab:hover, .nav > li > a.a-tab:focus {
    background-color: #66afe9 !important;
    border-bottom: 1px !important;
    /*border-bottom-color: transparent !important;*/
}

.nav > li.active > a.a-tab, .nav > li.active > a.a-tab:hover, .nav > li.active > a.a-tab:focus {
    margin: 0.5px !important;
    padding: 6px !important;
    border: 1px solid #283890 !important;
    /*border-style: solid;*/
    /*border-color: #283890;*/
    /*border-width:0.5px;*/
    /*border-bottom: 1px;*/
    color: #fff !important;
    background-color: #283890 !important;
    /*border-bottom: 1px !important;*/
    border-bottom-color: transparent !important;
}

.tab-content {
    border-bottom: 1px !important;
    margin-top: -1px !important;
    padding: 0px !important;
    border: 1px solid #283890 !important;
    /*border-top: 1px !important;*/
    /*border-style: solid;*/
    /*border-color: #283890;*/
    /*border-width:0.5px;*/
    /*border-bottom: 1px;*/
}

/*.nav-tabs {
    /*border-bottom: 1px solid #283890 !important;*/
    /*border: 1px solid #283890 !important;*/
}*/

.tab-view-min-height,
.tab-report-min-height,
.tab-aoi-min-height {
    overflow-y: scroll !important;
    height: 150px !important;
}

.tab-view-min-height {
    height: 130px !important;
}

.tab-report-min-height {
    height: 5px !important;
}

.tab-aoi-min-height {
    height: 250px !important;
}

.normal {
    font-weight: normal;
}


.tab-resize {
    /*overflow-y: auto !important;*/
    height: 350px;
    /*padding: 5px;*/
    resize: vertical;
    overflow-y: hidden;
}

.snap-parent {
    position: relative !important;
    padding-bottom: 5px !important;
}

.snap-bottom-child-left {
    position: absolute !important;
    bottom: 5px !important;
    float: right !important;
}

.snap-bottom-child-right {
    position: absolute !important;
    bottom: 5px !important;
    text-align: center !important;
    margin-left: 60px !important;
}

.snap-top-child-left {
    display: inline-block;
    /*position: fixed;*/
    margin-left: -10px;
    /*margin-bottom: 15px !important;*/
}

.snap-top-child-right {
    display: inline-block;
    /*position: fixed;*/
    /*margin-left: 20px;*/
    /*margin-bottom: 15px !important;*/
}

.snap-bottom-left, .snap-bottom-right {
    bottom: 15px;
}

.tab-in-content-overflow {
    overflow-y: visible !important;
    overflow-x: hidden;
    height: 30px !important;
}

/* main menu */
.top-menu {
    border-color: #283890;
    background-image: none !important;
    background-color: #66afe9 !important;
    margin: 0px -50px 40px -50px;
}

.view-list, .report-list, .aoi-list, .ts-list {
    resize: vertical;
    overflow-y: auto;
}

.view-list {
    height: 250px;
}

.report-list {
    height: 270px;
}

.aoi-list {
    height: 345px;
}

.ts-list {
    height: 295px;
}

/* PopUp InfoWindow */
.popup {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 3px;
    float: left;
    /*border-radius: 6px;*/
    border-width: 1px;
    border-style: solid;
    border-color: #555 #555 #555 #555;
    position: absolute;
    display: inline-block;
    cursor: pointer;
    width: auto;
    resize: both;
    max-width: 600px;
    /*min-height: 300px;*/
    max-height: 800px;
    overflow: auto; 
    background-color: white;
}`;

/* The actual popup */

/* Diagram Highcharts*/
#container_line {
    width:100%;
    /*min-width: 310px;*/
    /*max-width: 800px;*/
    height: 400px;
    margin: 0 auto
}

#container_box {
    width:100%;
    /*min-width: 310px;*/
    /*max-width: 800px;*/
    height: 400px;
    margin: 0 auto
}

/* Google Place Autocomplete */
#google-search {
    position: absolute;
    top: 7px;
    left: 120px;
    z-index: 50;
    /*background-color: #fff;*/
    padding: 2px;
    /*border: 1px solid #999;*/
    /*text-align: center;*/
    /*line-height: 30px;*/
    /*padding-left: 10px;*/
}

.controls {
    z-index: 50;
    /*margin-top: 10px;*/
    border: 1px solid transparent !important;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.controls:focus {
    background-color: #fff !important;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    /*border-color: #4d90fe;*/
    background-color: #fff;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#target {
    width: 345px;
}

