th {
    text-align: center;
}

.errorlist > li {
    list-style-type: none;
    padding-top: 10px;
    margin-left: -25px;
    font-size: 10px;
    color: red;
    text-align: left;
}

.hv-error > ul.errorlist > li {
    text-align: right !important;
}

input[type="file"] {
    display: inline;
}

input[type="text"]:disabled {
    background: #fff;
}

input:focus, textarea:focus {
    background-color: transparent !important;
    border-bottom: 1px solid #66afe9 !important;
}

.field-error {
    background-color: transparent !important;
    border-bottom: 1px solid red !important;
}

.field-success {
    background-color: transparent !important;
    border-bottom: 1px solid green !important;
    color: #555;
}

.upload-file {
    text-align: center;
    width: 50%;
    padding: 0;
    border-style: none none !important;
}

input, textarea {
    border: 0 !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset !important;
}

/* alert */
.alert {
  margin: 10px 0 5px 0;
}

/* placement */
.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

/* alignment */
.float-right {
    float: right;
}

/* indents */
.top-25 {
    top: 25px;
}

.margin-top-4 {
    margin-top: 4px;
}

.margin-top-8 {
    margin-top: 8px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-015 {
    margin-top: -15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-020 {
    margin-top: -20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-35 {
    margin-top: 35px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-040 {
    margin-top: -40px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-4 {
    margin-bottom: 4px;
}

.margin-left-12 {
    margin-left: 20px;
}

.margin-left-10 {
    margin-left: 10px;
}

.padding-0 {
    padding: 0;
}

.padding-left-0 {
    padding: 0 15px 0 0;
}

.padding-rigth-0 {
    padding: 0 0 0 15px;
}

/* color */
.red-color {
    color: red;
}

.grey-color{
    color: grey;
}

.blue-color-bootstrap {
    color: #265a88;
}

/* main menu */
li.main-menu {
    margin-bottom: 15px;
    padding: 0;
}

.input-width-35 {
    width: 35%;
}

/* display */
.disabled {
    display: none !important;
}

.visible {
    display: block !important;
}

/* fonts style*/
.font-9 {
    font-size: 9px;
}

.font-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-normal {
    font-weight: 500;
}

/* search */
.dropdown-search {
    position: relative;
    display: inline-block;
    min-width: 150px;
    /*left: -100px;*/
    left: -17%;
    top: 10px;
}

.search-form {
    border: 0 !important;
    /*border-bottom: 1px solid #ccc;*/
    border-radius: 0 !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset !important;
    background-color: transparent !important;
    color: #c1d9ee !important;
}

/* forms log and signup */
.form-password:focus {
    border-color: white;
    box-shadow: 0 0 0 rgba(100, 100, 100, 0.9) inset, 0 0 0 rgba(100, 100, 100, 0.5);
    border-bottom: 1px solid #66afe9;
}

/* pic for forms log and signup */
.img-top-input {
    z-index: 4;
    position: relative;
    display: none;
}

.input-form {
    z-index: 2;
    position: relative;
}

.img-top-input:focus {
    display: block;
}

/* no yelow autofill for google chrome */
input {
    outline: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* background color */
}

/* main menu style */
.main-menu {
    top: 15px;
    background-image: linear-gradient(to bottom, #337ab7 0px, #265a88 100%);
    background-repeat: repeat-x;
    border-color: #245580;
}

.dropdown-left-0 {
    /*left: -14px;*/
    border-radius: 0;
    border-color: #fff;
    top: 10px;
}

.dropdown-user {
    left: 24px;
    border-radius: 0;
    border-color: #fff;
    top: 50px;
}

.brand-logo {
    color: white !important;
    width: 21%;
    text-align: left;
}

.brand-logo:hover {
    color: #c1d9ee !important;
}

.menu-panel {
    background-color: transparent;
}

/* dropdown main menu style */
.right-indent-10 {
    padding-right: 10px;
}

.left-indent-10 {
    padding-left: 10px;
}

.acordion > a {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}

li.li-menu > a, li.active-main-menu > a {
    font-size: 14px;
    background-color: white;

}

div.li-menu > a, div.li-menu > a:hover {
    background-color: white;
}

.active-static-data {
    color: #337ab7 !important;
}

li.li-menu > a, .title {
    color: black;
    padding-right: 0;  !important;
}

li.active-main-menu > a {
    color: #337ab7 !important;
}

li.active-main-menu, li.active-main-menu a:hover, li.li-menu > a:hover, .title:hover, .li-sub-menu > a:hover {
    background-color: transparent;
    color: #337ab7 !important;
    text-decoration: none;
}

.acordion > a:hover, .li-menu > li > a:hover {
    text-decoration: none !important;
    color: #428bca;
    background-color: transparent;
    background-image: none;
}

.li-menu > li > a > i:hover {
    background-color: transparent !important;
    color: transparent !important;
}

.navbar-main-menu {
    min-height: 50px;
    max-height: 50px;
}

/*dropbtn*/
.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    min-width: 150px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    width: 250px;
}

.dropdown-content a, .li-sub-menu > a {
    color: black;
    padding: 8px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: transparent;
    text-decoration: none !important;
    color: #428bca;
    background-image: none;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}

.display-no-table {
    display: table-cell;
}

/* on/off sub menu */
.sub-menu-no-visible ul {
  margin: 0;
  list-style: none;
  padding-left: 20px;
  display: none;
}

.sub-menu-visible ul {
  margin: 0;
  list-style: none;
  padding-left: 20px;
  display: block;
}

.icon-visible {
    color: black;
    padding-left: 15px;
    padding-right: 0;
}

.icon-no-visible {
    display: none
}

.title {
    display: block;
    padding: 10px 15px;
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sub-menu.open ul {
  display: block;
}

.li-sub-menu {
    padding-left: 18px !important;
}

/* user profile */
.user-profile {
    left: 35%;
    top: 7px;
}

.dropbtn-user {
    left: -15px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown-content-user {
    min-width: 100px;
    width: 136px;
    display: none;
    position: absolute;
}

.dropdown-content-user a {
    color: black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content-user a:hover {
    background-color: transparent;
    text-decoration: none !important;
    color: #428bca;
    background-image: none;
}

.circle {
    border: 3px;
    border-color: white;
    border-style: solid;
    width: 34px;
    height: 34px;
    background-color: #D3D3D3;
}

.del-btn, .btn-img, .del-btn:hover {
    background-color: transparent;
}

/* paginations */
.pagination-black > li > a {
    background-color: #fff;
    border: 0 solid #ddd;
    color: black;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}

.pagination-black > li > a:hover {

}

.no-border {
    border: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
}

/* text for log files */
.text-align-left {
    text-align: left;
    font-size: 12px !important;
}

/* link for view result */
.result {
    color: black;
}

.result:hover {
    text-decoration: none;
}

/* modal */
.border-top-0 {
    border-top: none;
}

.border-bottom-0 {
    border-bottom: none;
}

/* disabled DoY*/
.disabled-doy {
    color: #cccccc;
}

.visible-doy {
    color: #333;
}

/* input for new Run */
.non-input {
    border-style: none !important;
    fill: none;
    background-color: transparent;
}

.config-file {
    background-color: #fff !important;
}

/* gsi iframe for gsi maps */
.border-none {
    border-width: 0;
}

#map {
    width: 860px;
    height: 700px;
}

hr {
    border: none;
    background-color: #9fa1a3;
    color: #9fa1a3;
    height: 1px;
}

.border-1 {
    border: 1px solid #9fa1a3;
}

#cke_id_content {
    width: 770px !important;
}

/* ***** user select ****************************************** */
.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.checkboxes {
    display: none;
    border: 1px #dadada solid;
}

.checkboxes label {
    display: block;
}

.checkboxes label:hover {
    background-color: #66afe9;
}

.select-border-bottom-grey {
    border-bottom: 2px solid #ccc;
}

.select-color-grey {
    color: #999;
}

input[type="checkbox"]:checked + span {
  color:  #265a88;
}

.display-show {
    display: true;
}

.gsi-logo {
    padding: 5px;
    z-index: 0;
    position: absolute;
    left: 76px;
    bottom: 0px;
    margin-bottom: 4%;
}

.placeholder {
    background-color: #fff !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-lr-5 {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

/* goggle map menu */
.area-draw {
    align-self: center;
    align-items: center;
    text-align: center;
    margin-left: -10px;
}

.btn-draw {
    width: 10px;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 15%;
  z-index: 5;
  background-color: #fff;
  padding: 2px;
  /*border: 1px solid #999;*/
  text-align: center;
  line-height: 30px;
  padding-left: 10px;
}

#gsi-logo {
  position: absolute;
  bottom: 10px;
  left: 10%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  line-height: 30px;
  padding-left: 10px;
}

#lat-panel {
  position: absolute;
  bottom: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 2px;
  text-align: left;;
  line-height: 10px;
  padding-left: 10px;
  width: 150px;
}

#lng-panel {
  position: absolute;
  bottom: 10px;
  left: 45%;
  z-index: 5;
  background-color: #fff;
  padding: 2px;
  text-align: left;;
  line-height: 10px;
  padding-left: 10px;
  width: 150px;
}
