django==1.8
six
gsi
django-debug-toolbar
django-annoying
django-solo
django-grappelli
djangorestframework
markdown
django-filter
django-registration-redux==1.3
python-magic==0.4.11
django-extensions
django-crispy-forms==1.4.0
django-ckeditor==5.1.1
